<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
 	<script>
		$(function() {			
			function progress(elimentId, value) {

	            // 값은 받아오나, 텍스트를 질리프레쉬할수없음.
	             const cp = new CircleProgress('#'+elimentId, {
	                max: 100,
	                value: value,
	                animationDuration: 400,
	                textFormat: (value) => value + '%'
	            });
	         // cp.value = value;

	            // var $airColor = $('#'+elimentId+'Color');
	            // var $airMessage = $('#'+elimentId+'Message');
	            // var $airState = $('#'+elimentId+'State');
	            // if (value <= 15) {
	            //     $airColor.addClass('blue').removeClass('red');
	            //     $airMessage.text('현재 공기질 상태는 쾌적합니다.');
	            //     $airState.text('좋음');
	            // } else if (value <= 35) {
	            //     $airColor.removeClass('blue').removeClass('red');
	            //     $airMessage.text('현재 공기질 상태는 보통입니다.');
	            //     $airState.text('보통');
	            // } else {
	            //     $airColor.addClass('red').removeClass('blue');
	            //     $airMessage.text('공기청정기를 ON 해주세요.');
	            //     $airState.text('나쁨');
	            // }
	        }
			
			progress('progress01', 16);
			progress('progress02', 60);
			progress('progress03', 100);
			progress('progress04', 36);
			progress('progress05', 88);
			progress('progress06', 70);
		});

	</script>
</th:block>

<div layout:fragment="content" class="content">
	<div class="content__inner">
		<h2 class="content__heading">노후도 평가 결과</h2>
		
		<section class="section non-padding">
			<div class="section__head">
				<h3 class="section__heading">우선순위 비교 결과</h3>
			</div>
			<div class="section__content">
				<table class="c-table c-table--border">
					<colgroup>
						<col style="width: 60px;" />
						<col />
						<col style="width: 60px;" />
						<col style="width: 80px;" />
						<col style="width: 80px;" />
						<col style="width: 80px;" />
						<col style="width: 80px;" />
						<col style="width: 80px;" />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2">부재</th>
							<th>실제 공용년수</th>
							<th>년</th>
							<th>27</th>
							<th>32</th>
							<th>37</th>
							<th>47</th>
							<th rowspan="2">노후속도</th>
							<th rowspan="2">조치사항</th>
						</tr>
						<tr>
							<th>평가지표</th>
							<th>단위</th>
							<th>현재평가</th>
							<th>5년후</th>
							<th>10년후</th>
							<th>20년후</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="2">교량A</td>
							<td>종합노후도</td>
							<td>년</td>
							<td>24.1</td>
							<td>26.6</td>
							<td>32.9</td>
							<td>43.2</td>
							<td rowspan="2">Slow</td>
							<td rowspan="2">바닥판에 대한 유지보수 필요</td>
						</tr>
						<tr>
							<td>내하력</td>
							<td>%</td>
							<td>99.5</td>
							<td>99.5</td>
							<td>99.4</td>
							<td>99.3</td>
						</tr>
						<tr>
							<td>상부</td>
							<td>상부구조 노후도</td>
							<td>년</td>
							<td>27.9</td>
							<td>33.4</td>
							<td>40.9</td>
							<td>51.5</td>
							<td>Fast</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="8">바닥판</td>
							<td>바닥판 노후도</td>
							<td>년</td>
							<td>33.2</td>
							<td>34.5</td>
							<td>41.5</td>
							<td>53.2</td>
							<td rowspan="8">Fast</td>
							<td rowspan="8">4.5년 정도 노후화가 빠르게 진행중 향후 10년 이내 유지보수 필요</td>
						</tr>
						<tr>
							<td>구조균열</td>
							<td>mm</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>균열면적(0.3mm 미만)</td>
							<td>%</td>
							<td>0.685</td>
							<td>2.9</td>
							<td>3.5</td>
							<td>4.6</td>
						</tr>
						<tr>
							<td>손상면적(들뜸/박리박락/재료분리)</td>
							<td>%</td>
							<td>0.974</td>
							<td>9.1</td>
							<td>9.8</td>
							<td>11.8</td>
						</tr>
						<tr>
							<td>누수백태 면적</td>
							<td>%</td>
							<td>0.98598</td>
							<td>11</td>
							<td>14.8</td>
							<td>24.5</td>
						</tr>
						<tr>
							<td>철근노출면적</td>
							<td>%</td>
							<td>0.996</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.6</td>
						</tr>
						<tr>
							<td>염화물침투량</td>
							<td>kg/m3</td>
							<td>0.99932</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.5</td>
						</tr>
						<tr>
							<td>탄산화깊이</td>
							<td>mm</td>
							<td>0.86</td>
							<td>5.8</td>
							<td>6.3</td>
							<td>7.1</td>
						</tr>
						<tr>
							<td>하부</td>
							<td>하부구조 노후도</td>
							<td>년</td>
							<td>14.4</td>
							<td>19.4</td>
							<td>24.4</td>
							<td>34.4</td>
							<td>Slow</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="8">교대</td>
							<td>교각노후도</td>
							<td>년</td>
							<td>10.2</td>
							<td>15.2</td>
							<td>20.2</td>
							<td>30.2</td>
							<td rowspan="8">Slow</td>
							<td rowspan="8">향후 10년간 일상적 유지관리 조치</td>
						</tr>
						<tr>
							<td>구조균열(최대균열폭)</td>
							<td>mm</td>
							<td>0</td>
							<td>0.1</td>
							<td>0.8</td>
							<td>1.6</td>
						</tr>
						<tr>
							<td>균열 면적(0.3mm 미만)</td>
							<td>%</td>
							<td>2.1</td>
							<td>2.5</td>
							<td>2.9</td>
							<td>3.5</td>
						</tr>
						<tr>
							<td>손상면적(들뜸/박리박락/재료분리)</td>
							<td>%</td>
							<td>8.5</td>
							<td>9.1</td>
							<td>9.8</td>
							<td>11.8</td>
						</tr>
						<tr>
							<td>누수백태 면적</td>
							<td>%</td>
							<td>8.2</td>
							<td>11</td>
							<td>14.8</td>
							<td>24.5</td>
						</tr>
						<tr>
							<td>철근노출면적</td>
							<td>%</td>
							<td>1.1</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.6</td>
						</tr>
						<tr>
							<td>염화물침투량</td>
							<td>kg/m3</td>
							<td>1.1</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.5</td>
						</tr>
						<tr>
							<td>탄산화깊이</td>
							<td>mm</td>
							<td>5.3</td>
							<td>5.8</td>
							<td>6.3</td>
							<td>7.1</td>
						</tr>
						<tr>
							<td rowspan="8">교대</td>
							<td>교대 노후도</td>
							<td>년</td>
							<td>18.5</td>
							<td>23.5</td>
							<td>28.5</td>
							<td>38.5</td>
							<td rowspan="8">Slow</td>
							<td rowspan="8">향후 10년간 일상적 유지관리 조치</td>
						</tr>
						<tr>
							<td>구조균열(최대균열폭)</td>
							<td>mm</td>
							<td>0</td>
							<td>0.1</td>
							<td>0.8</td>
							<td>1.6</td>
						</tr>
						<tr>
							<td>균열 면적(0.3mm 미만)</td>
							<td>%</td>
							<td>2.1</td>
							<td>2.5</td>
							<td>2.9</td>
							<td>3.5</td>
						</tr>
						<tr>
							<td>손상면적(들뜸/박리박락/재료분리)</td>
							<td>%</td>
							<td>8.5</td>
							<td>9.1</td>
							<td>9.8</td>
							<td>11.8</td>
						</tr>
						<tr>
							<td>누수백태 면적</td>
							<td>%</td>
							<td>8.2</td>
							<td>11</td>
							<td>14.8</td>
							<td>24.5</td>
						</tr>
						<tr>
							<td>철근노출면적</td>
							<td>%</td>
							<td>1.1</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.6</td>
						</tr>
						<tr>
							<td>염화물침투량</td>
							<td>kg/m3</td>
							<td>1.1</td>
							<td>1.2</td>
							<td>1.3</td>
							<td>1.5</td>
						</tr>
						<tr>
							<td>탄산화깊이</td>
							<td>mm</td>
							<td>5.3</td>
							<td>5.8</td>
							<td>6.3</td>
							<td>7.1</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		
	</div>
	
</div>
</html>
