<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/min_js_dir/newdeal/performance.js"></script>
	<script type="text/javascript">
		$(function() {
			const autoNum = $("#autoNum").val();
			call_performance(autoNum);
		});
	</script>
</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="autoNum" th:value="${autoNum}" />
	<input type="hidden" id="backend_url" th:value="${backend_url}" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" />
	<div class="content__inner">
		<div class="performance" id="performance">
			<div class="talk">
				<div class="talk__box">
					<p class="performance-output__comment">본 사업은 사업비용, 시설유형, 적용대상, 중복평가, 의무사업, 확정사업 요건을 보두 충족하는 <span>평가대상 사업</span>입니다.</p>
				</div>
				
				<h2 class="content__heading">성능개선 사업 개요</h2>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>시설 정보</h3>
						<table id="outputTableFacility" class="c-table c-table--in-border"></table>
					</div>
				</div>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>이용 정보</h3>
						<table id="outputTableUsage" class="c-table c-table--in-border"></table>
					</div>
				</div>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>사업 정보</h3>
						<table id="outputTableBusiness" class="c-table c-table--in-border"></table>
					</div>
				</div>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>여건 정보</h3>
						<table id="outputTableCondition" class="c-table c-table--in-border"></table>
					</div>
				</div>

				<div class="talk__box">
					<div class="performance-output">
						<h3>평가 정보</h3>
						<table id="outputTableEvaluation" class="c-table c-table--in-border"></table>
					</div>
				</div>
			</div>

			<div class="talk">
				<h2 class="content__heading">평가적용 가중치</h2>
				<div class="talk__box">
					<div class="performance-output">
						<h3>기술성</h3>
						<table id="outputTableWeightT" class="c-table c-table--in-border"></table>
					</div>
				</div>
				<div class="talk__box">
					<div class="performance-output">
						<h3>경제성</h3>
						<table id="outputTableWeightE" class="c-table c-table--in-border"></table>
					</div>
				</div>
				<div class="talk__box">
					<div class="performance-output">
						<h3>정책성</h3>
						<table id="outputTableWeightP" class="c-table c-table--in-border"></table>
					</div>
				</div>
			</div>

			<div class="talk">
				<h2 class="content__heading">성능개선 사업평가 정보</h2>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>기술성</h3>
						<table id="technicalityTable" class="c-table c-table--in-border"></table>
					</div>
				</div>

				<div class="talk__box">
					<div class="performance-output">
						<h3>경제성</h3>
						<table id="economyTable" class="c-table c-table--in-border">
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th>성능개선 대안</th>
									<th>유지보수 대안</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>이용자 안전 효용성</th>
									<td>90</td>
									<td>90</td>
								</tr>
								<tr>
									<th>자산가치 증액분</th>
									<td>80</td>
									<td>80</td>
								</tr>
								<tr>
									<th>비용 효율성 지표 - 안전개선</th>
									<td>80</td>
									<td>80</td>
								</tr>
								<tr>
									<th>비용 효율성 지표 - 자산가치</th>
									<td>100</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>정책성</h3>
						<table id="policyTable" class="c-table c-table--in-border">
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th>성능개선 대안</th>
									<th>유지보수 대안</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>국가 시설관리 목표 충족성</th>
									<td>100</td>
									<td>0</td>
								</tr>
								<tr>
									<th>시설 이용성</th>
									<td>80</td>
									<td>80</td>
								</tr>
								<tr>
									<th>시설 만족성</th>
									<td>80</td>
									<td>80</td>
								</tr>
								<tr>
									<th>국가 법, 정책 부합성</th>
									<td>66</td>
									<td>66</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>


			<div class="talk">
				<h2 class="content__heading">사업 종합평가 결과</h2>
				
				<div class="talk__box">
					<div class="performance-output">
						<h3>결과</h3>
						<table class="c-table c-table--in-border">
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th>성능개선 대안</th>
									<th>유지보수 대안</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>기술성</th>
									<td>95</td>
									<td>35</td>
								</tr>
								<tr>
									<th>경제성</th>
									<td>75</td>
									<td>90</td>
								</tr>
								<tr>
									<th>정책성</th>
									<td>66</td>
									<td>50</td>
								</tr>
								<tr>
									<th>종합 사업점수</th>
									<td>88.1</td>
									<td>47.5</td>
								</tr>
								<tr>
									<th>사업 후 교량의 안전등급</th>
									<td>B</td>
									<td>C</td>
								</tr>
								<tr>
									<th>비고</th>
									<td>노후화 대응 사업으로 기술성 70%, 경제성 20%, 정책성 10% 반영</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="talk">
				<h2 class="content__heading">사업 평가결과의 해설</h2>
				
				<div class="talk__box">
					<div class="performance-output">
						<div class="performance-output__result">
							본 성능사업은 교량의 노후화 대응형 사업으로써, 시설물안전법에 의한 점검진단 결과 주요구조부인 교각에 중대한 손상이 발생하여 안전등급 D로 평가된 교량을 A등급으로 상향하기 위한 사업임
							<br />
							성능개선 간소화 기준에 의거한 사업평가 결과 성능개선 대안 88.1점, 유지보수 대안 47.5점으로 성능개선 사업 추진의 타당성이 인정됨
							<br />
							유지보수 대안은 사업후 안전등급 B등급 이상으로 상향이 불가하므로 결격사유에 해당
							<br />
							유지보수 대안은 사업후 종합점수 50점 이하로 사업 추진 기술점수에 미달하므로 결격사유에 해당
						</div>
					</div>
				</div>
			</div>
			
			<div class="talk__console">
					<ul>
						<li>
							<button class="c-button c-button--point">Download</button>
						</li>
					</ul>
				</div>
		</div>
		
		<div id="popId" class="talk__select-pop">
			<h4 class="talk__select-heading">추진하실 사업의 정보 입력 방식을 선택해주세요.</h4>
			<div class="talk__select-radio">
				<ul class="c-radio-group">
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" name="talk-select" class="c-radio__input" id="talk-select01" value="/performance2" />
							<label for="talk-select01" class="c-radio__label">입력파일(엑셀) 업로드</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" name="talk-select" class="c-radio__input" id="talk-select02" value="/performance3" />
							<label for="talk-select02" class="c-radio__label">직접 작성</label>
						</div>
					</li>
				</ul>
			</div>
			<p class="talk__select-comment">파일 업로드 선택시 양식 다운로드를 제공합니다.</p>
			<button class="c-button c-button--point" onclick="selectMovePage()">선택 완료</button>
		</div>
		
	</div>
	
</div>
</html>
