<div class="talk">
	<div class="talk__box">
		<div class="talk__contents">
			<div class="weight">
				<div class="weight__head">
					<h4 class="weight__heading">Step 7. 가중치를 수정하시겠습니까?</h4>
					<ul class="c-radio-group" >
						<li class="c-radio-group__item">
							<div class="c-radio">
								<input type="radio" class="c-radio__input" onclick="weightRadioBtn(value)" id="group1" value="yes" />
								<label for="group1" class="c-radio__label">Yes</label>
							</div>
						</li>
						<li class="c-radio-group__item">
							<div class="c-radio">
								<input type="radio" class="c-radio__input" onclick="weightRadioBtn(value)" id="group2" value="no"  />
								<label for="group2" class="c-radio__label">No</label>
							</div>
						</li>
					</ul>
				</div>
				<div class="weight__head">
				<form id="weightSendForm" enctype="multipart/form-data">
					<div class="weight__head">
						<h4 class="weight__heading">성능개선 사업구분 별 가중치</h4>
					</div>
					<div class="weight__contents">
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
							<tr>
								<th>성능개선 유형</th>
								<th>항목</th>
								<th>표준 가중치</th>
								<th>최소 가중치</th>
								<th>최대 가중치</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th id="choseCategory" rowspan="4">선택된 유형</th>
								<th>기술성</th>
								<td>
									<div class="c-text">
										<input type="number"  id="piWeightTechnicality" name="piWeightTechnicality" style="color: black;text-align: right" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td id="piWeightTechnicalityMin" style="text-align: right"></td>
								<td id="piWeightTechnicalityMax" style="text-align: right"></td>
							</tr>
							<tr>
								<th>경제성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightEconomy"  name="piWeightEconomy" style="color: black;text-align: right" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td id="piWeightEconomyMin" style="text-align: right"></td>
								<td id="piWeightEconomyMax" style="text-align: right"></td>
							</tr>
							<tr>
								<th>정책성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightPolicy"  name="piWeightPolicy" style="color: black;text-align: right" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td id="piWeightPolicyMin" style="text-align: right"></td>
								<td id="piWeightPolicyMax" style="text-align: right"></td>
							</tr>
							</tbody>
						</table>

						<div class="talk__comment">
							비고 : 가중치 설정방법 및 제안 가중치의 활용<br />
							각 평가항목 및 세부지표의 가중치는 사업의 목적과 특성을 고려하여 관리주체가 자체적으로 설정할 수 있습니다. 적절한 가중치 설정이 어려운 경우 본 평가방법 개발과정에서 실무자, 전문가의 의견을 반영하여 제안한 표준가중치와 조정범위를 참조하여 적용할 것을 권장합니다.
						</div>

					</div>

					<div class="weight__head">
						<h4 class="weight__heading">평가지표별 가중치</h4>
					</div>
					<div class="weight__contents">
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>평가지표</th>
									<th>항목</th>
									<th>표준 가중치</th>
									<th>최소 가중치</th>
									<th>최대 가중치</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th id="techTable" rowspan="5">기술성</th>
									<th>안전성</th>
									<td>
										<div class="c-text">
											<input type="number"  id="piWeightSafe" name="piWeightSafe" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightSafeMin" style="text-align: right"></td>
									<td id="piWeightSafeMax" style="text-align: right"></td>
								</tr>
								<tr id="techUsabilityTr">
									<th>사용성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightUsability" name="piWeightUsability" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightUsabilityMin" style="text-align: right"></td>
									<td id="piWeightUsabilityMax" style="text-align: right"></td>
								</tr>
								<tr>
									<th>노후도</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightOld"  name="piWeightOld" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightOldMin" style="text-align: right"></td>
									<td id="piWeightOldMax" style="text-align: right"></td>
								</tr>
								<tr id="techUrgencyTr">
									<th>지체도</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightUrgency"  name="piWeightUrgency" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightUrgencyMin" style="text-align: right"></td>
									<td id="piWeightUrgencyMax" style="text-align: right"></td>
								</tr>
								<tr id="techGoalTr">
									<th>목표달성도</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightGoal"  name="piWeightGoal" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightGoalMin" style="text-align: right"></td>
									<td id="piWeightGoalMax" style="text-align: right"></td>
								</tr>

								<tr>
									<th id="ecoTable" rowspan="2">경제성</th>
									<th id="ecoTh1">안전효용 개선 효율성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightSafeUtility"  name="piWeightSafeUtility" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightSafeUtilityMin" style="text-align: right"></td>
									<td id="piWeightSafeUtilityMax" style="text-align: right"></td>
								</tr>
								<tr>
									<th id="ecoTh2">자산가치 개선 효율성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightCostUtility"  name="piWeightCostUtility" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightCostUtilityMin" style="text-align: right"></td>
									<td id="piWeightCostUtilityMax" style="text-align: right"></td>
								</tr>

								<tr>
									<th id="polTable" rowspan="3">정책성</th>
									<th>사업추진 타당성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightBusiness"  name="piWeightBusiness" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightBusinessMin" style="text-align: right"></td>
									<td id="piWeightBusinessMax" style="text-align: right"></td>
								</tr>
								<tr id="polComplaintTr">
									<th>민원 및 사고 대응성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightComplaint"  name="piWeightComplaint" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightComplaintMin" style="text-align: right"></td>
									<td id="piWeightComplaintMax" style="text-align: right"></td>
								</tr>
								<tr>
									<th>사업효과 범용성</th>
									<td>
										<div class="c-text">
											<input type="number" id="piWeightBusinessEffect"  name="piWeightBusinessEffect" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
										</div>
									</td>
									<td id="piWeightBusinessEffectMin" style="text-align: right"></td>
									<td id="piWeightBusinessEffectMax" style="text-align: right"></td>
								</tr>
							</tbody>
						</table>
						<div class="talk__comment">
							가중치 설정 방법<br />
							1. 가중치는 관리주체가 사업의 목적/성격에 따라 자율적으로 조정 가능합니다.<br />
							2. 단 표준 가중치를 그대로 사용하거나, 최소~최대 범위내로 지정할 것을 권장합니다.<br />
							3. 기술성 / 경제성 / 정책성 별로 가중치의 합이 1이 되어야 합니다.<br />
							4. 평가에서 제외하고 싶은 항목은 0을 입력합니다.<br />
						</div>
					</div>

					<div class="weight__contents">
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th>항목</th>
								<th>사업추진 임계점수</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>사업성 판단기준</th>
								<td>
									<input type="number" id="piWeightCriticalScore" name="piWeightCriticalScore" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				</form>

			</div>
		</div>
	</div>
	
	<div class="talk__console">
		<ul>
			<li><button class="c-button" onclick="movePage('/performance/performance4')">BEFORE</button></li>
			<li><button class="c-button c-button--point" onclick="upWeightCheckAdd()">성능개선 사업성 평가 실행</button></li>
		</ul>
	</div>
</div>

<script>

	$(function() {
		weightGet();
		$("#chapter").val("0");
		$('#group2').prop("checked", true);
	});


</script>