<div class="talk">
	<div class="talk__box">
		<div class="talk__header">
			<h3>Step 4. 사업구분</h3>
		</div>
		<div class="talk__contents">
			<ul class="c-radio-group">
				<li class="c-radio-group__item">
					<div class="c-radio">
						<input type="radio" class="c-radio__input" name="group1" id="group1-1" />
						<label for="group1-1" class="c-radio__label">노후화</label>
					</div>
				</li>
				<li class="c-radio-group__item">
					<div class="c-radio">
						<input type="radio" class="c-radio__input" name="group1" id="group1-2" />
						<label for="group1-2" class="c-radio__label">기준변화</label>
					</div>
				</li>
				<li class="c-radio-group__item">
					<div class="c-radio">
						<input type="radio" class="c-radio__input" name="group1" id="group1-3" />
						<label for="group1-3" class="c-radio__label">사용성변화</label>
					</div>
				</li>
				<li class="c-radio-group__item">
					<div class="c-radio">
						<input type="radio" class="c-radio__input" name="group1" id="group1-4" />
						<label for="group1-4" class="c-radio__label">기타</label>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="talk__box">
		<div class="talk__header">
			<h3>Step 5. 사업정보 입력</h3>
		</div>
		<div class="talk__contents">
			<div class="performance-business">
				<h4 class="performance-business__heading">기준대안</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">사업유형</div>
		                        <div class="talk__input">
		                        	<div class="c-select">
										<select class="c-select__input">
											<option>성능개선</option>
											<option>유지보수</option>
										</select>
									</div>
		                        </div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>바닥판</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>개량</option>
											<option>확장</option>
											<option>일부개축</option>
											<option>전면개축</option>
											<option>보수보강</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업내용</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" class="c-text__input" /></div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text"><input type="number" class="c-text__input" /></div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 교량 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>A</option>
											<option>B</option>
											<option>C</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 교량 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>A</option>
											<option>B</option>
											<option>C</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">법에 따른 의무사업</div>
		                        <div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group2" id="group2-1" />
												<label for="group2-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group2" id="group2-2" />
												<label for="group2-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group3" id="group3-1" />
												<label for="group3-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group3" id="group3-2" />
												<label for="group3-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group4" id="group4-1" />
												<label for="group4-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group4" id="group4-2" />
												<label for="group4-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">최근 1년 간 민원 및 사고발생 건수</div>
								<div class="talk__input">
									<div class="c-text"><input type="number" class="c-text__input" /></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="performance-business">
				<h4 class="performance-business__heading">비교대안</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">사업유형</div>
		                        <div class="talk__input">
		                        	<div class="c-select">
										<select class="c-select__input">
											<option>성능개선</option>
											<option>유지보수</option>
										</select>
									</div>
		                        </div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>바닥판</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>개량</option>
											<option>확장</option>
											<option>일부개축</option>
											<option>전면개축</option>
											<option>보수보강</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업내용</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" class="c-text__input" /></div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text"><input type="number" class="c-text__input" /></div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 교량 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>A</option>
											<option>B</option>
											<option>C</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 교량 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select class="c-select__input">
											<option>A</option>
											<option>B</option>
											<option>C</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">법에 따른 의무사업</div>
		                        <div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group2" id="group2-1" />
												<label for="group2-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group2" id="group2-2" />
												<label for="group2-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group3" id="group3-1" />
												<label for="group3-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group3" id="group3-2" />
												<label for="group3-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group4" id="group4-1" />
												<label for="group4-1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" name="group4" id="group4-2" />
												<label for="group4-2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">최근 1년 간 민원 및 사고발생 건수</div>
								<div class="talk__input">
									<div class="c-text"><input type="number" class="c-text__input" /></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
		<button class="performance-business__add c-button c-button--point" id="addBusiness" onclick="addBusiness('/performance/performance-business')">비교대안 추가</button>
	</div>
	
	<div class="talk__console">
		<ul>
			<li><button class="c-button" onclick="movePage('/performance/performance3')">BEFORE</button></li>
			<li><button class="c-button c-button--point"onclick="movePage('/performance/performance5')">NEXT</button></li>
		</ul>
	</div>
</div>

<script>
	let businessMaxAdd = 0;
	function addBusiness(url) {
		const ajaxOption = {
				url: url,
				type: "POST",
				dataType: "html"
		};
		
		businessMaxAdd++;
		
		if ( businessMaxAdd >= 2) {
			$.ajax(ajaxOption).done(function(data){
		        const $btn = $('#addBusiness');
		        $btn.parent().find('.talk__contents').append(data);
		        
		        $btn.remove();
		    });
		} else {
			$.ajax(ajaxOption).done(function(data){
		        const $btn = $('#addBusiness');
		        $btn.parent().find('.talk__contents').append(data);
		    });
		}
	};
	
	function businessRemove() {
		//$(this).parents('.performance-business').remove();
		console.log($(this).attr('class'));
		
	}
	
</script>