<div class="talk">
	<form id="performance1" enctype="multipart/form-data">

		<div class="talk__box">
			<div class="talk__header">
				<h3>Step 2. 사업구분을 선택해주세요.</h3>
			</div>
			<div class="talk__contents">
				<ul class="c-radio-group">
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="노후화대응" onclick="piBusinessClick(1)" name="piBusiness" id="piBusiness-1" />
							<label for="piBusiness-1" class="c-radio__label">노후화대응 유형</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="기준변화" onclick="piBusinessClick(2)" name="piBusiness" id="piBusiness-2" />
							<label for="piBusiness-2" class="c-radio__label">기준변화 유형</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="사용성변화" onclick="piBusinessClick(3)" name="piBusiness" id="piBusiness-3" />
							<label for="piBusiness-3" class="c-radio__label">사용성변화 유형</label>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="talk__box" id="step3div" style="display: none">
			<div class="talk__header">
				<h3>Step 3. 시설물의 유형을 선택해주세요.</h3>
			</div>
			<div class="talk__contents">
				<ul class="c-radio-group">
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="교량" onclick="piTypeClick('1',null)" name="piFacilityType" id="group1-1" />
							<label for="group1-1" class="c-radio__label">교량</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="보도육교" onclick="piTypeClick('2',null)" name="piFacilityType" id="group1-2" />
							<label for="group1-2" class="c-radio__label">보도육교</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="터널" onclick="piTypeClick('3',null)" name="piFacilityType" id="group1-3" />
							<label for="group1-3" class="c-radio__label">터널</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="지하차도" onclick="piTypeClick('4',null)" name="piFacilityType" id="group1-4" />
							<label for="group1-4" class="c-radio__label">지하차도</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="절토사면" onclick="piTypeClick('5',null)" name="piFacilityType" id="group1-5" />
							<label for="group1-5" class="c-radio__label">절토사면</label>
						</div>
					</li>
					<li class="c-radio-group__item">
						<div class="c-radio">
							<input type="radio" class="c-radio__input" value="옹벽" onclick="piTypeClick('6',null)" name="piFacilityType" id="group1-6" />
							<label for="group1-6" class="c-radio__label">옹벽</label>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="talk__box" id="step4div" style="display: none">
			<div class="talk__header">
				<h3>Step 4. 시설물 기본정보</h3>
			</div>
			<div class="talk__contents">
				<ul class="talk__list talk__list--split">
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">시설명</div>
							<div class="talk__input">
								<div class="c-text"><input type="text" name="piFacilityName" id="piFacilityName" class="c-text__input" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">종별구분</div>
							<div class="talk__input">
								<div class="c-select">
									<select name="piKind" id="piKind" class="c-select__input">
										<option value="1종">1종</option>
										<option value="2종">2종</option>
										<option value="3종">3종</option>
										<option value="기타">기타</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">준공연도</div>
							<div class="talk__input">
								<div class="c-text"><input name="piCompletionYear" id="piCompletionYear" type="text" class="c-text__input" numberOnly placeholder="1900~2100"/></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">공용연수</div>
							<div class="talk__input">
								<div class="c-text"><input name="piPublicYear" id="piPublicYear" type="text" class="c-text__input" numberOnly readonly="readonly" placeholder="준공연도를 통해 자동으로 계산됩니다." style="color: black" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">형식구분</div>
							<div class="talk__input">
								<div class="c-select">
									<select name="piType" id="piType" class="c-select__input">
										<option value="">시설물 유형을 선택해주세요</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li id="piErectionCostList">
						<div class="talk__input-item">
							<div class="talk__input-heading">취득원가(공사비)</div>
							<div class="talk__input">
								<div class="c-text"><input name="piErectionCost" id="piErectionCost" type="text" onkeyup="inputNumberFormat(this)" maxlength="17" class="c-text__input" placeholder="1~10000000000000" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">현재 종합 안전등급</div>
							<div class="talk__input">
								<div class="c-select">
									<select name="piSafetyLevel" id="piSafetyLevel" class="c-select__input">
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
										<option value="D">D</option>
										<option value="E">E</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div id="piUsabilityAndGoalLevelName" class="talk__input-heading">목표 종합 안전등급</div>
							<div class="talk__input">
								<div class="c-select">
									<select name="piUsabilityAndGoalLevel" id="piUsabilityAndGoalLevel" class="c-select__input">
										<option id="rankA" value="A">A</option>
										<option id="rankB" value="B">B</option>
										<option id="rankC" value="C">C</option>
										<option id="rankD" value="D">D</option>
										<option id="rankE" value="E">E</option>
										<option id="gitaOp" value="기타">기타</option>
										<option id="gitaNo" value="해당안됨">해당안됨</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">유지보수 지연기간</div>
							<div class="talk__input">
								<div class="c-select">
									<select name="piMaintenanceDelay" id="piMaintenanceDelay" class="c-select__input">
										<option id="delay0" value="0">1년 미만</option>
										<option id="delay1" value="1">1년</option>
										<option id="delay2" value="2">2년</option>
										<option id="delay3" value="3">3년 이상</option>
										<option id="delayNo" value="9">해당안됨</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">연평균일교통량(AADT)</div>
							<div class="talk__input">
								<div class="c-text"><input name="piAADT" id="piAADT" type="text" class="c-text__input" maxlength="7" onkeyup="inputNumberFormat(this)" placeholder="1~300000"/></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">관리주체</div>
							<div class="talk__input">
								<div class="c-text"><input name="piManagement" id="piManagement" type="text" class="c-text__input" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">관리감독기관</div>
							<div class="talk__input">
								<div class="c-text"><input name="piAgency" id="piAgency" type="text" class="c-text__input" /></div>
							</div>
						</div>
					</li>
				</ul>
				<p class="talk__comment">※ 안내: 목표 안전등급이란, 관리감독기관이 “기반시설 관리계획”을 통해 정한 시설물 안전등급 허용기준을 의미합니다. C등급에서 보수를 시행할 경우 B등급을 입력합니다. 해당 기준이 없는 경우 디폴트로 B등급을 입력합니다.</p>
			</div>
		</div>

		<div class="talk__box" id="step5div" style="display: none">
			<div class="talk__header">
				<h3>Step 5. 시설물의 유형을 선택해주세요.</h3>
			</div>
			<div class="talk__contents">
				<ul class="talk__list talk__list--split">
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">평가 기준년도</div>
							<div class="talk__input">
								<div class="c-text"><input type="text" name="piRaterBaseYear" id="piRaterBaseYear" class="c-text__input" readonly="readonly" style="color: black" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">평가자</div>
							<div class="talk__input">
								<div class="c-text"><input type="text" name="piRater" id="piRater" class="c-text__input" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">평가자 소속</div>
							<div class="talk__input">
								<div class="c-text"><input type="text" name="piRaterBelong" id="piRaterBelong" class="c-text__input" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="talk__input-item">
							<div class="talk__input-heading">평가자 연락처</div>
							<div class="talk__input">
								<div class="c-text"><input type="text" name="piRaterPhone" id="piRaterPhone" class="c-text__input" /></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</form>
	<div class="talk__console">
		<ul>
			<li><button class="c-button" onclick="movePage('/performance/performance1')">BEFORE</button></li>
			<li><button class="c-button c-button--point" onclick="inputPerformanceNext1()">NEXT</button></li>
		</ul>
	</div>
</div>

<script>

	$(function() {

		const  autoNum = $("#autoNum").val();
		if(autoNum!==""){
			// console.log("중간 저장된 데이터 호출하기");
			middleData(autoNum);
		}

		const date = new Date();
		const nowdate = date.getFullYear();
		$('#piRaterBaseYear').val(nowdate);

		// 공용연수 계산하기
		$('#piCompletionYear').focusout(function() {
			const a = $('#piCompletionYear').val();
			const publicDay = nowdate - a;
			$('#piPublicYear').val(publicDay);
		})

		// 오직 숫자만 입력할수있게하는 제이쿼리
		$("input:text[numberOnly]").on("keyup", function() {
			$(this).val($(this).val().replace(/[^0-9]/g,""));
		});

	});
</script>