<div class="talk">
	<form id="fileSendForm" enctype="multipart/form-data">
	<div class="talk__box">
		<div class="talk__header">
			<h3>Step 2. 추진하실 사업의 정보를 입력합니다.</h3>
		</div>
		<div class="talk__contents">
			<div class="talk__upload">
				<div class="talk__guide">
					<h4>* 엑셀파일 입력 작성 가이드</h4>
					<ul>
						<li style="padding: 3px">1. 업로드 할 파일은 제공해드린 파일만 업로드해주시길 바랍니다.(파일양식은 하단에 양식 다운로드)</li>
						<li style="padding: 3px">2. 대안1,대안2에 각각 업로드할 대안들을 작성해주세요.</li>
						<li style="padding: 3px">3. 작성하실 대안의 열에 파랑색으로 표기된 셀은 필수적으로 입력하셔야 합니다.</li>
						<li style="padding: 3px">4. 대안은 최대 4개까지만 등록 가능합니다.</li>
						<li style="padding: 3px">5. 구체적인 입력 방법은 제공해 드린 양식에 포함된 사용자 입력자료(샘플) 시트를 참조해 주세요</li>
						<li style="padding: 3px">6. 제공해드린 양식파일이 아닌 파일은 업로드할 수 없습니다.</li>
					</ul>
				</div>
				<div class="talk__file">
					<ul>
						<li>
							<div class="c-select">
								<select id="weight_Category" name="weightCategory" class="c-select__input">
									<option value="">유형을 선택해주세요.</option>
									<option value="노후화대응">노후화 유형</option>
									<option value="기준변화">기준변화 유형</option>
									<option value="사용성변화">사용성변화 유형</option>
								</select>
							</div>
						</li>
						<li>
							<!-- href에 다운로드 할 파일 경로 삽입 -->
							<a id="excelDownload" onclick="formDownload()" class="talk__download c-button">입력 파일 양식 다운로드</a>
						</li>
						<li>
							<div class="c-file">
								<input type="text" class="c-file__input" readonly="readonly" />
								<label class="c-file__button" style="text-align: center;" >업로드
										<input type="file" id="excelfile"  name="excelfile" />
								</label>
							</div>
						</li>
					</ul>
				</div>				
			</div>
		</div>
	</div>

	<div class="talk__box" id="wightBox" style="display: none">
		<div class="talk__header">
			<h3>Step 3. 사업평가 지표의 가중치와 사업성 판단 기준점수 설정합니다.</h3>
		</div>
		<div class="talk__contents">
			<div class="weight">
				<div class="weight__head">
					<h4 class="weight__heading">* 제안된 기준 가중치와 사업성 기준점수를 그대로 적용할지, 변경할지를 결정합니다. <br />* 성능개선 유형을 선택하시면 각 유형별 표준가중치와 최소-최대 범위를 불러옵니다.</h4>
				</div>
				<div class="weight__contents">
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
						<tr>
							<th>성능개선 유형</th>
							<th>항목</th>
							<th>표준 가중치</th>
							<th>최소 가중치</th>
							<th>최대 가중치</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th id="choseCategory" rowspan="4">선택된 유형</th>
							<th>기술성</th>
							<td>
								<div class="c-text">
									<input type="number"  id="piWeightTechnicality" name="piWeightTechnicality" class="c-text__input" />
								</div>
							</td>
							<td id="piWeightTechnicalityMin" style="text-align: right"></td>
							<td id="piWeightTechnicalityMax" style="text-align: right"></td>
						</tr>
						<tr>
							<th>경제성</th>
							<td>
								<div class="c-text">
									<input type="number" id="piWeightEconomy"  name="piWeightEconomy" class="c-text__input" />
								</div>
							</td>
							<td id="piWeightEconomyMin" style="text-align: right"></td>
							<td id="piWeightEconomyMax" style="text-align: right"></td>
						</tr>
						<tr>
							<th>정책성</th>
							<td>
								<div class="c-text">
									<input type="number" id="piWeightPolicy"  name="piWeightPolicy" class="c-text__input" />
								</div>
							</td>
							<td id="piWeightPolicyMin" style="text-align: right"></td>
							<td id="piWeightPolicyMax" style="text-align: right"></td>
						</tr>
						</tbody>
					</table>
					
					<div class="talk__comment">
						비고 : 가중치 설정방법 및 제안 가중치의 활용<br />
						각 평가항목 및 세부지표의 가중치는 사업의 목적과 특성을 고려하여 관리주체가 자체적으로 설정할 수 있습니다. 적절한 가중치 설정이 어려운 경우 본 평가방법 개발과정에서 실무자, 전문가의 의견을 반영하여 제안한 표준가중치와 조정범위를 참조하여 적용할 것을 권장합니다. 
					</div>
				</div>

			</div>
			
			<div id="weightDiv" class="weight" style="display: none">
				<div class="weight__head">
					<h4 class="weight__heading">가중치를 수정하시겠습니까?</h4>
				</div>
				<div class="weight__head">
					<ul class="c-radio-group">
						<li class="c-radio-group__item">
							<div class="c-radio">
								<input type="radio" class="c-radio__input" onclick="weightRadioBtn(value)" id="group1" value="yes" />
								<label for="group1" class="c-radio__label">Yes</label>
							</div>
						</li>
						<li class="c-radio-group__item">
							<div class="c-radio">
								<input type="radio" class="c-radio__input" onclick="weightRadioBtn(value)" id="group2" value="no"  />
								<label for="group2" class="c-radio__label">No</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="weight__contents">
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th>평가지표</th>
								<th>항목</th>
								<th>표준 가중치</th>
								<th>최소 가중치</th>
								<th>최대 가중치</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th id="techTable" rowspan="5">기술성</th>
								<th>안정성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightSafe" name="piWeightSafe" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightSafeMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightSafeMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr id="techUsabilityTr">
								<th>사용성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightUsability" name="piWeightUsability" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightUsabilityMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightUsabilityMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr>
								<th>노후도</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightOld"  name="piWeightOld" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightOldMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightOldMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr id="techUrgencyTr">
								<th>지체도</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightUrgency"  name="piWeightUrgency" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightUrgencyMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightUrgencyMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr id="techGoalTr">
								<th>목표달성도</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightGoal"  name="piWeightGoal" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightGoalMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightGoalMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>

							<tr>
								<th id="ecoTable" rowspan="2">경제성</th>
								<th id="ecoTh1">안전효용 개선 효율성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightSafeUtility"  name="piWeightSafeUtility" class="c-text__input" readonly="readonly" />
									</div>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightSafeUtilityMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightSafeUtilityMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								</td>
							</tr>
							<tr>
								<th id="ecoTh2">자산가치 개선 효율성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightCostUtility"  name="piWeightCostUtility" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightCostUtilityMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightCostUtilityMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>

							<tr>
								<th id="polTable" rowspan="3">정책성</th>
								<th>사업추진 타당성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightBusiness"  name="piWeightBusiness" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightBusinessMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightBusinessMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr id="polComplaintTr">
								<th>민원 및 사고 대응성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightComplaint"  name="piWeightComplaint" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightComplaintMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightComplaintMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
							<tr>
								<th>사업효과 범용성</th>
								<td>
									<div class="c-text">
										<input type="number" id="piWeightBusinessEffect"  name="piWeightBusinessEffect" class="c-text__input" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightBusinessEffectMin" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
								<td>
									<div class="c-text">
										<input type="text" id="piWeightBusinessEffectMax" class="c-text__input" style="color: black;text-align: right" readonly="readonly" />
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="talk__comment">
						가중치 설정 방법<br />
						1. 가중치는 관리주체가 사업의 목적/성격에 따라 자율적으로 조정 가능합니다.<br />
						2. 단 표준 가중치를 그대로 사용하거나, 최소~최대 범위내로 지정할 것을 권장합니다.<br />
						3. 기술성 / 경제성 / 정책성 별로 가중치의 합이 1이 되어야 합니다.<br />
						4. 평가에서 제외하고 싶은 항목은 0을 입력합니다.<br />
					</div>
				</div>

				<div class="weight__contents">
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th>항목</th>
								<th>사업추진 임계점수</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>사업성 판단기준</th>
								<td>
									<input type="number" id="piWeightCriticalScore" name="piWeightCriticalScore" class="c-text__input" readonly="readonly" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</form>

	<div class="talk__console">
		<ul>
			<li><button class="c-button" onclick="movePage('/performance/performance1')">BEFORE</button></li>
			<li><button onclick="filesend()" class="c-button c-button--point">성능개선 사업성 평가 실행</button></li>
		</ul>
	</div>
</div>

<script>
	$(function() {
		// 업로드할 파일명 불러오기
		$('#excelfile').change(function() {
			const file = $(this).val().split('\\').pop();
			$('.c-file__input').val(file);
		});

		$('#group2').prop("checked", true);

		document.getElementById("weight_Category").onchange = function(){
			const $wightBox = $("#wightBox");
			const $weight_Category = $("#weight_Category").val();
			const $weightDiv = $("#weightDiv");

			const $choseCategory = $("#choseCategory");
			const $piWeightTechnicality = $("#piWeightTechnicality");
			const $piWeightEconomy = $("#piWeightEconomy");
			const $piWeightPolicy = $("#piWeightPolicy");

			const $piWeightTechnicalityMin = $("#piWeightTechnicalityMin");
			const $piWeightTechnicalityMax = $("#piWeightTechnicalityMax");

			const $piWeightEconomyMin = $("#piWeightEconomyMin");
			const $piWeightEconomyMax = $("#piWeightEconomyMax");

			const $piWeightPolicyMin = $("#piWeightPolicyMin");
			const $piWeightPolicyMax = $("#piWeightPolicyMax");

			const $techTable = $("#techTable");
			const $ecoTable = $("#ecoTable");
			const $polTable = $("#polTable");

			const $techUsabilityTr = $("#techUsabilityTr");
			const $techUrgencyTr = $("#techUrgencyTr");
			const $techGoalTr = $("#techGoalTr");

			const $ecoTh1 = $("#ecoTh1");
			const $ecoTh2 = $("#ecoTh2");

			const $polComplaintTr = $("#polComplaintTr");

			if($weight_Category==="노후화대응"){

				weightUploadGet();

				$piWeightTechnicality.attr("placeholder", "0.66");
				$piWeightEconomy.attr("placeholder", "0.2");
				$piWeightPolicy.attr("placeholder", "0.14");
				$piWeightTechnicalityMin.text(0.52);
				$piWeightTechnicalityMax.text(0.79);
				$piWeightEconomyMin.text(0.15);
				$piWeightEconomyMax.text(0.29);
				$piWeightPolicyMin.text(0.07);
				$piWeightPolicyMax.text(0.2);

				$choseCategory.text("노후화대응 유형");

				$wightBox.css("display","block");
				$weightDiv.css("display","block");

				$techTable.attr("rowspan",4);
				$techUsabilityTr.css('display', 'none');
				$techUrgencyTr.css("display","revert");
				$techGoalTr.css("display","revert");

				$ecoTable.attr("rowspan",2);
				$ecoTh1.text("안전효용 개선 효율성");
				$ecoTh2.text("자산가치 개선 효율성");

				$polTable.attr("rowspan",3);
				$polComplaintTr.css("display","revert");

			}
			else if($weight_Category==="기준변화") {

				weightUploadGet();

				$piWeightTechnicality.attr("placeholder", "0.24");
				$piWeightEconomy.attr("placeholder", "0.48");
				$piWeightPolicy.attr("placeholder", "0.28");
				$piWeightTechnicalityMin.text(0.17);
				$piWeightTechnicalityMax.text(0.3);
				$piWeightEconomyMin.text(0.36);
				$piWeightEconomyMax.text(0.58);
				$piWeightPolicyMin.text(0.17);
				$piWeightPolicyMax.text(0.39);

				$wightBox.css("display","block");
				$weightDiv.css("display","block");
				$choseCategory.text("기준변화 유형");

				$techTable.attr("rowspan",2);
				$techUsabilityTr.css("display","none");
				$techUrgencyTr.css("display","none");
				$techGoalTr.css("display","none");

				$ecoTable.attr("rowspan",2);
				$ecoTh1.text("사업규모 등급");
				$ecoTh2.text("사업효율 등급");

				$polTable.attr("rowspan",2);
				$polComplaintTr.css("display","none");

			}
			else if($weight_Category==="사용성변화") {

				weightUploadGet();

				$piWeightTechnicality.attr("placeholder", "0.19");
				$piWeightEconomy.attr("placeholder", "0.39");
				$piWeightPolicy.attr("placeholder", "0.42");
				$piWeightTechnicalityMin.text(0.12);
				$piWeightTechnicalityMax.text(0.29);
				$piWeightEconomyMin.text(0.24);
				$piWeightEconomyMax.text(0.47);
				$piWeightPolicyMin.text(0.32);
				$piWeightPolicyMax.text(0.5);

				$wightBox.css("display","block");
				$weightDiv.css("display","block");
				$choseCategory.text("사용성변화 유형");

				$techTable.attr("rowspan",3);
				$techUsabilityTr.css("display","revert");
				$techUrgencyTr.css("display","none");
				$techGoalTr.css("display","none");

				$ecoTable.attr("rowspan",2);
				$ecoTh1.text("사업규모 등급");
				$ecoTh2.text("사업효율 등급");

				$polTable.attr("rowspan",3);
				$polComplaintTr.css("display","revert");
			}
			else{
				$wightBox.css("display","none");
				$weightDiv.css("display","none");
				$choseCategory.text("선택된 유형");
				$piWeightTechnicality.val();
				$piWeightEconomy.val();
				$piWeightPolicy.val();
			}
		}

	});

	function formDownload(){
		const $weight_Category = $("#weight_Category").val();
		if($weight_Category==="노후화대응"){
			location.href = "https://newdealexcel.s3.ap-northeast-2.amazonaws.com/%E1%84%82%E1%85%A9%E1%84%92%E1%85%AE%E1%84%92%E1%85%AA%E1%84%83%E1%85%A2%E1%84%8B%E1%85%B3%E1%86%BC_%E1%84%8B%E1%85%B2%E1%84%92%E1%85%A7%E1%86%BC_%E1%84%8B%E1%85%A3%E1%86%BC%E1%84%89%E1%85%B5%E1%86%A8.xlsx";
		}else if($weight_Category==="기준변화") {
			location.href = "https://newdealexcel.s3.ap-northeast-2.amazonaws.com/%E1%84%80%E1%85%B5%E1%84%8C%E1%85%AE%E1%86%AB%E1%84%87%E1%85%A7%E1%86%AB%E1%84%92%E1%85%AA_%E1%84%8B%E1%85%B2%E1%84%92%E1%85%A7%E1%86%BC_%E1%84%8B%E1%85%A3%E1%86%BC%E1%84%89%E1%85%B5%E1%86%A8.xlsx";
		}else if($weight_Category==="사용성변화") {
			location.href = "https://newdealexcel.s3.ap-northeast-2.amazonaws.com/%E1%84%89%E1%85%A1%E1%84%8B%E1%85%AD%E1%86%BC%E1%84%89%E1%85%A5%E1%86%BC%E1%84%87%E1%85%A7%E1%86%AB%E1%84%92%E1%85%AA_%E1%84%8B%E1%85%B2%E1%84%92%E1%85%A7%E1%86%BC_%E1%84%8B%E1%85%A3%E1%86%BC%E1%84%89%E1%85%B5%E1%86%A8.xlsx";
		}else{
			alertCaution("유형을 선택해주세요.",1)
			return false;
		}
	}

</script>