<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/min_js_dir/newdeal/performance/performanceList.js"></script>
 	<script>
		$(function() {
			$("#header_two").addClass(' show');
			logreg(1,"의사결정 시스템","세부별 등록리스트 조회",null);

			performanceList(1);
			$("#searchBtn").on('click',function(){
				logreg(0,"의사결정 시스템","세부별 등록리스트 조회",null);
				performanceList(1);
			});

		});
	</script>
</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="backend_url" th:value="${backend_url}" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" />
	<div class="content__inner">
		<section class="section">
			<article class="article">
				<div class="article__head">
					<h2 class="article__heading" style="font-size: 27px">성능개선 사업평가 등록 글 조회</h2>
				</div>
				<div class="article__body">
					<div class="l-float-heading">
						<div class="l-float-heading--left">
							<h4 class="article__head" style="color: red">해당 리스트는 우수대안을 기준으로 출력됩니다.</h4>
						</div>
					</div>
					<table class="c-table">
						<colgroup>
							<col style="width: 100px;" />
							<col />
							<col style="width: 100px;" />
							<col />
							<col style="width: 100px;" />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<tbody>
							<tr>
								<th>시설유형</th>
								<td>
									<div class="c-select">
										<select id="piFacilityType" class="c-select__input" >
											<option value="">유형을 선택해주세요.</option>
											<option value="교량">교량</option>
											<option value="보도육교">보도육교</option>
											<option value="터널">터널</option>
											<option value="지하차도">지하차도</option>
											<option value="옹벽">옹벽</option>
											<option value="절토사면">절토사면</option>
										</select>
									</div>
								</td>
								<th>종별구분</th>
								<td>
									<div class="c-select">
										<select id="piKind" class="c-select__input" >
											<option value="">종별을 선택해주세요.</option>
											<option value="1종">1종</option>
											<option value="2종">2종</option>
											<option value="3종">3종</option>
											<option value="기타">기타</option>
										</select>
									</div>
								</td>
								<th>시설명</th>
								<td>
									<div class="c-text">
										<input type="text" id="piFacilityName" class="c-text__input" />
									</div>
								</td>
								<td>
									<button class="c-button c-button--point" id="searchBtn">조회</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
			
			<article class="article">
				<div class="article__body">
					<table class="c-table">
						<colgroup>
							<col style="width: 40px;" />
							<col style="width: 100px;" />
							<col style="width: 100px;" />
							<col style="width: 80px;" />
							<col style="width: 150px;" />
							<col style="width: 70px;" />
							<col style="width: 120px;" />
							<col style="width: 80px;" />
							<col style="width: 150px;" />
							<col style="width: 110px;" />
							<col style="width: 60px;" />
						</colgroup>
						<thead>
							<tr>
								<th>선택</th>
								<th>시설유형</th>
								<th>시설명</th>
								<th>준공연도</th>
								<th>사업구분</th>
								<th>안전등급</th>
								<th>형식구분</th>
								<th>사업유형</th>
								<th>사업비용</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="tablePerformanceList" style="text-align: center">
						</tbody>
					</table>
					
					<div class="c-pager">
						<div class="c-paging" id="performancePaging">
							<!-- 페이징 처리되는곳   -->
						</div>
						<div class="c-paging__total">
							<div class="c-paging__total-group">
								Total
							</div>
							<div class="c-paging__total-group" id="totalCnt">0</div>
						</div>
					</div>
				</div>
			</article>
		</section>
		
	</div>
	
</div>
</html>
