
<div class="talk">

	<form id="performance2" enctype="multipart/form-data">
	<input type="hidden" id="businessCount" name="businessCount" value="2" />

	<div class="talk__box">

		<div class="talk__header">
			<h3>Step 6. 사업정보 입력</h3>
		</div>

		<div class="talk__contents">
			<div class="talk__comment">노후화대응의 경우 반드시 최소 성능개선 1개, 유지보수 1개, 기준변화 및 사용성변화의 경우 최소 성능개선 2개 대안을 입력하여야 합니다.<br>(단, 2개 이상의 대안 구성이 불가능한 경우 1개의 대안만 입력)</div>

			<!--############################# 첫번째 대안 #########################-->

			<div class="performance-business">
				<h4 class="performance-business__heading">기준대안</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">사업유형</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" onclick="piBusinessTypeClick(1,1,null)" value="성능개선" name="piBusinessType1" id="piBusinessType1" />
												<label for="piBusinessType1" class="c-radio__label">성능개선</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" onclick="piBusinessTypeClick(2,1,null)" value="유지보수" name="piBusinessType1" id="piBusinessType2" />
												<label for="piBusinessType2" class="c-radio__label">유지보수</label>
											</div>
										</li>
									</ul>
								</div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-text">
										<input type="text" name="piTargetAbsence" id="piTargetAbsence1" class="c-text__input" />
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select id="piBusinessClassification1" name="piBusinessClassification" class="c-select__input">
											<option value="">사업유형를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text">
										<input type="text" name="piBusinessExpenses" id="piBusinessExpenses1" onkeyup="inputNumberFormat(this)" maxlength="17" class="c-text__input" placeholder="1~10000000000000"  />
									</div>
								</div>
							</div>
						</li>
						<li id="piBeforeSafetyRating1List" style="display: none">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piBeforeSafetyRating" id="piBeforeSafetyRating1" class="c-select__input">
											<option value="">사업전 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li id="piAfterSafetyRating1List" style="display: none">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piAfterSafetyRating" id="piAfterSafetyRating1" class="c-select__input">
											<option value="">사업후 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li id="piWhetherList">
							<div class="talk__input-item">
								<div class="talk__input-heading">최근 1년 간 민원 및 사고발생 건수</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" id="piWhether" name="piWhether" class="c-text__input" numberOnly /></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
		                    <div class="talk__input-item">
		                        <div class="talk__input-heading">법에 따른 의무사업</div>
		                        <div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessObligatory1" id="piBusinessObligatory1" />
												<label for="piBusinessObligatory1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessObligatory1" id="piBusinessObligatory2" />
												<label for="piBusinessObligatory2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
		                    </div>
		                </li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessMandatory1" id="piBusinessMandatory1" />
												<label for="piBusinessMandatory1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessMandatory1" id="piBusinessMandatory2" />
												<label for="piBusinessMandatory2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
		                        	<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessPlanned1" id="piBusinessPlanned1" />
												<label for="piBusinessPlanned1" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessPlanned1" id="piBusinessPlanned2" />
												<label for="piBusinessPlanned2" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
		                        </div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--############################ 두번째 대안 ##########################################-->

			<div class="performance-business">
				<h4 class="performance-business__heading">비교대안</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업유형</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="성능개선" onclick="piBusinessTypeClick(3,2,null)" name="piBusinessType2" id="piBusinessType3" />
												<label for="piBusinessType3" class="c-radio__label">성능개선</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="유지보수" onclick="piBusinessTypeClick(4,2,null)" name="piBusinessType2" id="piBusinessType4" />
												<label for="piBusinessType4" class="c-radio__label">유지보수</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-text">
										<input type="text" name="piTargetAbsence" id="piTargetAbsence2" class="c-text__input" />
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select id="piBusinessClassification2" name="piBusinessClassification" class="c-select__input">
											<option value="">사업유형를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" name="piBusinessExpenses" id="piBusinessExpenses2" onkeyup="inputNumberFormat(this)" maxlength="17" class="c-text__input" placeholder="1~10000000000000"  /></div>
								</div>
							</div>
						</li>
						<li id="piBeforeSafetyRating2List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piBeforeSafetyRating" id="piBeforeSafetyRating2" class="c-select__input">
											<option value="">사업전 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li id="piAfterSafetyRating2List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piAfterSafetyRating" id="piAfterSafetyRating2" class="c-select__input">
											<option value="">사업후 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessObligatory2" id="piBusinessObligatory3" />
												<label for="piBusinessObligatory3" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessObligatory2" id="piBusinessObligatory4" />
												<label for="piBusinessObligatory4" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessMandatory2" id="piBusinessMandatory3" />
												<label for="piBusinessMandatory3" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessMandatory2" id="piBusinessMandatory4" />
												<label for="piBusinessMandatory4" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessPlanned2" id="piBusinessPlanned3" />
												<label for="piBusinessPlanned3" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessPlanned2" id="piBusinessPlanned4" />
												<label for="piBusinessPlanned4" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--############################# 세번째 대안 ##########################################-->

			<div class="performance-business" id="addBusiness1" style="display: none">
				<h4 class="performance-business__heading">추가대안1</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업유형</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="성능개선" onclick="piBusinessTypeClick(5,3,null)" name="piBusinessType3" id="piBusinessType5" />
												<label for="piBusinessType5" class="c-radio__label">성능개선</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="유지보수" onclick="piBusinessTypeClick(6,3,null)" name="piBusinessType3" id="piBusinessType6" />
												<label for="piBusinessType6" class="c-radio__label">유지보수</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-text">
										<input type="text" name="piTargetAbsence" id="piTargetAbsence3" class="c-text__input" />
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select id="piBusinessClassification3" name="piBusinessClassification" class="c-select__input">
											<option value="">사업유형를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" name="piBusinessExpenses" id="piBusinessExpenses3" onkeyup="inputNumberFormat(this)" maxlength="17" class="c-text__input" placeholder="1~10000000000000" /></div>
								</div>
							</div>
						</li>
						<li id="piBeforeSafetyRating3List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piBeforeSafetyRating" id="piBeforeSafetyRating3" class="c-select__input">
											<option value="">사업전 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li id="piAfterSafetyRating3List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piAfterSafetyRating" id="piAfterSafetyRating3" class="c-select__input">
											<option value="">사업후 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessObligatory3" id="piBusinessObligatory5" />
												<label for="piBusinessObligatory5" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessObligatory3" id="piBusinessObligatory6" />
												<label for="piBusinessObligatory6" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessMandatory3" id="piBusinessMandatory5" />
												<label for="piBusinessMandatory5" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessMandatory3" id="piBusinessMandatory6" />
												<label for="piBusinessMandatory6" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessPlanned3" id="piBusinessPlanned5" />
												<label for="piBusinessPlanned5" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessPlanned3" id="piBusinessPlanned6" />
												<label for="piBusinessPlanned6" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<a href="#" class="performance-business__close" onclick="businessRemove(1);">대안 삭제</a>
			</div>

			<!--############################# 네번째 대안 #######################################-->

			<div class="performance-business" id="addBusiness2" style="display: none">
				<h4 class="performance-business__heading">추가대안2</h4>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업유형</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="성능개선" onclick="piBusinessTypeClick(7,4,null)" name="piBusinessType4" id="piBusinessType7" />
												<label for="piBusinessType7" class="c-radio__label">성능개선</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="유지보수" onclick="piBusinessTypeClick(8,4,null)" name="piBusinessType4" id="piBusinessType8" />
												<label for="piBusinessType8" class="c-radio__label">유지보수</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">대상부재</div>
								<div class="talk__input">
									<div class="c-text">
										<input type="text" name="piTargetAbsence" id="piTargetAbsence4" class="c-text__input" />
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업분류</div>
								<div class="talk__input">
									<div class="c-select">
										<select id="piBusinessClassification4" name="piBusinessClassification" class="c-select__input">
											<option value="">사업유형를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">사업비용</div>
								<div class="talk__input">
									<div class="c-text"><input type="text" name="piBusinessExpenses" id="piBusinessExpenses4" onkeyup="inputNumberFormat(this)" maxlength="17" class="c-text__input" placeholder="1~10000000000000"  /></div>
								</div>
							</div>
						</li>
						<li id="piBeforeSafetyRating4List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업전 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piBeforeSafetyRating" id="piBeforeSafetyRating4" class="c-select__input">
											<option value="">사업전 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li id="piAfterSafetyRating4List">
							<div class="talk__input-item">
								<div class="talk__input-heading">사업후 종합 안전등급</div>
								<div class="talk__input">
									<div class="c-select">
										<select name="piAfterSafetyRating" id="piAfterSafetyRating4" class="c-select__input">
											<option value="">사업후 종합 안전등급을 선택해주세요.</option>
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="performance-business__contents">
					<ul class="talk__list talk__list--split">
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessObligatory4" id="piBusinessObligatory7" />
												<label for="piBusinessObligatory7" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessObligatory4" id="piBusinessObligatory8" />
												<label for="piBusinessObligatory8" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessMandatory4" id="piBusinessMandatory7" />
												<label for="piBusinessMandatory7" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessMandatory4" id="piBusinessMandatory8" />
												<label for="piBusinessMandatory8" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="talk__input-item">
								<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
								<div class="talk__input">
									<ul class="c-radio-group">
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="1" name="piBusinessPlanned4" id="piBusinessPlanned7" />
												<label for="piBusinessPlanned7" class="c-radio__label">Yes</label>
											</div>
										</li>
										<li class="c-radio-group__item">
											<div class="c-radio">
												<input type="radio" class="c-radio__input" value="0" name="piBusinessPlanned4" id="piBusinessPlanned8" />
												<label for="piBusinessPlanned8" class="c-radio__label">No</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<a href="#" class="performance-business__close" onclick="businessRemove(2);">대안 삭제</a>
			</div>

		</div>



	</div>
	</form>

	<button style="top: 8px; position: relative;" class="performance-business__add c-button c-button--point" id="addBusinessBtn" onclick="addBtn()">비교대안 추가</button>

	<div class="talk__console">
		<ul>
			<li><button class="c-button" onclick="movePage('/performance/performance3')">BEFORE</button></li>
			<li><button class="c-button c-button--point" onclick="inputPerformanceNext2()">NEXT</button></li>
		</ul>
	</div>
</div>

<script>

	$(function() {

		const  autoNum = $("#autoNum").val();
		if(autoNum!==""){
			// console.log("중간 저장된 데이터 호출하기2");
			middleDataBusiness(autoNum);
		}

		const  businessNum = $("#businessNum").val();
		if(businessNum==="노후화대응"){
			$("#piBeforeSafetyRating1List").css('display','block');
			$("#piAfterSafetyRating1List").css('display','block');

			$("#piBeforeSafetyRating2List").css('display','block');
			$("#piAfterSafetyRating2List").css('display','block');

			$("#piBeforeSafetyRating3List").css('display','block');
			$("#piAfterSafetyRating3List").css('display','block');

			$("#piBeforeSafetyRating4List").css('display','block');
			$("#piAfterSafetyRating4List").css('display','block');
		}else{
			$("#piBeforeSafetyRating1List").css('display','none');
			$("#piAfterSafetyRating1List").css('display','none');

			$("#piBeforeSafetyRating2List").css('display','none');
			$("#piAfterSafetyRating2List").css('display','none');

			$("#piBeforeSafetyRating3List").css('display','none');
			$("#piAfterSafetyRating3List").css('display','none');

			$("#piBeforeSafetyRating4List").css('display','none');
			$("#piAfterSafetyRating4List").css('display','none');

			$("#piBeforeSafetyRating1").val("A");
			$("#piBeforeSafetyRating2").val("A");
			$("#piBeforeSafetyRating3").val("A");
			$("#piBeforeSafetyRating4").val("A");
			$("#piAfterSafetyRating1").val("A");
			$("#piAfterSafetyRating2").val("A");
			$("#piAfterSafetyRating3").val("A");
			$("#piAfterSafetyRating4").val("A");
		}

		const  $piWhetherList = $("#piWhetherList")
		const  $piWhether = $("#piWhether")
		if(businessNum==="기준변화"){
			$piWhetherList.css('display','none');
			$piWhether.val("99999");
		}else{
			$piWhetherList.css('display','blcok');
			$piWhether.val("");
		}

		// 오직 숫자만 입력할수있게하는 제이쿼리
		$("input:text[numberOnly]").on("keyup", function() {
			$(this).val($(this).val().replace(/[^0-9]/g,""));
		});

	});

	function addBtn(){
		const $businessCount = $("#businessCount");
		const $addBusiness1 = $("#addBusiness1");
		if($businessCount.val()==="2")	{
			// console.log("$businessCount : "+$businessCount.val());
			if($addBusiness1.css('display')==='none'){
				// console.log("addBusiness1 -> 열렸습니다.")
				$addBusiness1.css('display', 'block');
				$businessCount.val("3");
			}else{
				// console.log("addBusiness2 -> 열렸습니다.")
				$("#addBusiness2").css('display', 'block');
				$businessCount.val("3");
			}
		}else if($businessCount.val()==="3"){
			// console.log("$businessCount : "+$businessCount.val());
			$("#addBusinessBtn").css("display","none");
			if($addBusiness1.css('display')==='none'){
				// console.log("addBusiness1 -> 열렸습니다.")
				$addBusiness1.css('display', 'block');
				$businessCount.val("4");
			}else{
				// console.log("addBusiness2 -> 열렸습니다.")
				$("#addBusiness2").css('display', 'block');
				$businessCount.val("4");
			}
		}
	}

	function businessRemove(val){
		const $businessCount = $("#businessCount");
		// console.log("val : "+val);
		// console.log("$businessCount : "+$businessCount.val());
		if(val===1){
			$("#addBusiness1").css("display","none");
			if($businessCount.val()==="4"){
				$("#addBusinessBtn").css("display","block");
				$businessCount.val("3");
			}else{
				$("#addBusinessBtn").css("display","block");
				$businessCount.val("2");
			}
		}else{
			if($businessCount.val()==="4"){
				$("#addBusinessBtn").css("display","block");
				$businessCount.val("3");
			}else{
				$("#addBusinessBtn").css("display","block");
				$businessCount.val("2");
			}
			$("#addBusiness2").css("display","none");
		}
	}

</script>