<div class="performance-business">
	<h4 class="performance-business__heading">비교대안</h4>
	<div class="performance-business__contents">
		<ul class="talk__list talk__list--split">
			<li>
                   <div class="talk__input-item">
                       <div class="talk__input-heading">사업유형</div>
                       <div class="talk__input">
                       	<div class="c-select">
							<select class="c-select__input">
								<option>성능개선</option>
								<option>유지보수</option>
							</select>
						</div>
                       </div>
                   </div>
               </li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">대상부재</div>
					<div class="talk__input">
						<div class="c-select">
							<select class="c-select__input">
								<option>바닥판</option>
							</select>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">사업분류</div>
					<div class="talk__input">
						<div class="c-select">
							<select class="c-select__input">
								<option>개량</option>
								<option>확장</option>
								<option>일부개축</option>
								<option>전면개축</option>
								<option>보수보강</option>
							</select>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">사업내용</div>
					<div class="talk__input">
						<div class="c-text"><input type="text" class="c-text__input" /></div>
					</div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">사업비용</div>
					<div class="talk__input">
						<div class="c-text"><input type="number" class="c-text__input" /></div>
					</div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">사업전 교량 안전등급</div>
					<div class="talk__input">
						<div class="c-select">
							<select class="c-select__input">
								<option>A</option>
								<option>B</option>
								<option>C</option>
							</select>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">사업후 교량 안전등급</div>
					<div class="talk__input">
						<div class="c-select">
							<select class="c-select__input">
								<option>A</option>
								<option>B</option>
								<option>C</option>
							</select>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="performance-business__contents">
		<ul class="talk__list talk__list--split">
			<li>
                   <div class="talk__input-item">
                       <div class="talk__input-heading">법에 따른 의무사업</div>
                       <div class="talk__input">
                       	<ul class="c-radio-group">
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group2" id="group2-1" />
									<label for="group2-1" class="c-radio__label">Yes</label>
								</div>
							</li>
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group2" id="group2-2" />
									<label for="group2-2" class="c-radio__label">No</label>
								</div>
							</li>
						</ul>
                       </div>
                   </div>
               </li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">법정계획/설계기준에 따른 의무사업</div>
					<div class="talk__input">
                       	<ul class="c-radio-group">
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group3" id="group3-1" />
									<label for="group3-1" class="c-radio__label">Yes</label>
								</div>
							</li>
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group3" id="group3-2" />
									<label for="group3-2" class="c-radio__label">No</label>
								</div>
							</li>
						</ul>
                       </div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">자체계획/의결에 따른 사업</div>
					<div class="talk__input">
                       	<ul class="c-radio-group">
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group4" id="group4-1" />
									<label for="group4-1" class="c-radio__label">Yes</label>
								</div>
							</li>
							<li class="c-radio-group__item">
								<div class="c-radio">
									<input type="radio" class="c-radio__input" name="group4" id="group4-2" />
									<label for="group4-2" class="c-radio__label">No</label>
								</div>
							</li>
						</ul>
                       </div>
				</div>
			</li>
			<li>
				<div class="talk__input-item">
					<div class="talk__input-heading">최근 1년 간 민원 및 사고발생 건수</div>
					<div class="talk__input">
						<div class="c-text"><input type="number" class="c-text__input" /></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="performance-business__close" onclick="businessRemove();">대안 삭제</a>
</div>




