<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

<th:block layout:fragment="script">
	<script type="text/javascript">
		$(function() {
			// logreg(1);
			//
			// $("#btnSearchP1").on('click',function(){
			// 	callListPopup();
			// });
			//
			// $("#btnSearch").on('click',function(){
			// 	callList(1);
			// });
			// $("#btnClear").click(function(){
			// 	searchclear();
			// });
			//
			// $("#btnSave").on('click',function(){
			// 	save();
			// });
			// $("#btnNew").on('click',function(){
			// 	init();
			// });
			//
			// $("#btnDel").on('click',function(){
			// 	del();
			// });
			//
			// $('#btn-search').on('click', function(e) {
			// 	$('#pop-search').addClass('open');
			// 	e.preventDefault();
			// });
			//
			// $('.l-popup__close').on('click', function(e) {
			// 	$('.l-popup').removeClass('open');
			// 	e.preventDefault();
			// });

			test();

		})

		// JWT ajax 테스트
		function test() {
			console.log("JWT ajax 테스트")
			let url;
			const token = getCookie("JwtAccessToken");
			const refreshToken = getCookie("JwtRefreshToken");
			if (token==null && refreshToken==null) {
				alertCaution("토큰이 만료되었습니다.<BR>다시 로그인해주세요.", 2);
			}else if(token==null){
				refreshTokenCookie();
			}else{
				url = "http://192.168.0.144:8011/api/account/test"; // 호출할 백엔드 API

				console.log("JWT token : "+token)
				$.ajax({
					type: "post",
					cache:false,
					processData: false,
					contentType: false,
					url: url,
					beforeSend: function (xhr) {
						xhr.setRequestHeader("JWT_AccessToken",token);
					},
					success: function (res) {
						console.log(res);
					}
				});
			}
		}

		function del(){

			if ($("#userid").attr("readonly") != "readonly"){
				alertCaution("삭제하고자하는 사용자를 하단에서<br> 선택 후 삭제하세요.");
				return false;
			}
			if ($("#userid").val().trim() == '') {
				alertCaution("삭제하고자하는 사용자를를 하단에서<br> 선택 후 삭제하세요.");
				$("#userid").trigger('focus');
				return false;
			}

			var params = {
				userid:$("#userid").val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/del',
				type : 'post',
				//dataType: 'html',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
					//alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('삭제되었습니다.');
					init();
					callList(1);
				}
			});
		}

		function init(){
			//화면 초기화
			$("#userid").val('');
			$("#password").val('');
			$("#username").val('');
			$("#email").val('');
			$("#teamcode").val('');
			$("#teamname").val('');
			$("#mode").val('N');
			$("#role").val('ROLE_USER');
			$("#userid").removeAttr("readonly");
		}

		function save(){

			if ($("#userid").val().trim() == '') {
				alertCaution("아이디를 입력하세요.<br> 아이디는 중복되지 않도록 확인 후 입력하세요");
				$("#userid").trigger('focus');
				return false;
			}

			if ($("#username").val().trim() == '') {
				alertCaution("부서명을 입력하세요.");
				$("#username").trigger('focus');
				return false;
			}

			if ($("#password").val().trim() == '') {
				alertCaution("패스워드를 입력하세요.");
				$("#password").trigger('focus');
				return false;
			}

			if ($("#teamcode").val().trim() == '') {
				alertCaution("부서를 선택하세요");
				return false;
			}

			var $form = $('form[name="frmreg"]');

			var params = $form.serialize();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/reg',
				type : 'post',
				//dataType: 'html',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('저장되었습니다. ');
					init();
					callList(1);
				}
			});
		}

		function searchclear(){
			$("#s_userid").val('');
			$("#s_username").val('');
			$("#s_teamname").val('');
		}

		function selectpopup1(code,name){
			$("#teamcode").val(code);
			$("#teamname").val(name);
			$('.l-popup').removeClass('open');
		}

		function callList(page){

			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');
			var params = {
				userid:$("#s_userid").val(),
				username:$("#s_username").val(),
				teamname:$("#s_teamname").val()
			};

			$schList.empty().append('<tr ><td colspan="6" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });


			$.ajax({
				url:'/api/account/list?size='+ perPage + '&page=' + page,
				type : 'post',
				//dataType: json,
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});

					if (totCnt == 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="6" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}

					$totalCnt.text(totCnt);


					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr onclick="javascript:callinfo(\''+ echoNull2Blank(value.userid) +'\');">';
						html += '<td >'+ echoNull2Blank(value.userid) +'</td>';
						html += '<td >'+ echoNull2Blank(value.username) +'</td>';
						html += '<td >'+ echoNull2Blank(value.email) +'</td>';
						html += '<td >'+ echoNull2Blank(value.role) +'</td>';
						html += '<td >'+ echoNull2Blank(value.teamcode) +'</td>';
						html += '<td >'+ echoNull2Blank(value.teamname) +'</td>';

						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		function callinfo(userid) {

			var params = {
				userid:userid
			};

			init();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/account',
				type : 'post',
				//dataType: 'html',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){

					$("#userid").val(res.data.datarow.userid);
					$("#username").val(res.data.datarow.username);
					$("#password").val('');
					$("#email").val(res.data.datarow.email);
					$("#role").val(res.data.datarow.role);
					$("#teamcode").val(res.data.datarow.team.teamcode);
					$("#teamname").val(res.data.datarow.team.teamname);
					$("#mode").val('U');
					$("#userid").attr("readonly",true);
				}
			});
		}

		function logreg(num) {
			var typeName;
			if(num===1){
				typeName = "open";
			}else{
				typeName = "search";
			}

			var params = {
				menuName1: "기초정보",
				menuName2: "사용자등록",
				useType: typeName
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/userLog/logreg',
				type: 'post',
				data: params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
				}
			});
		}

		function callListPopup(page){

			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schListP1');
			var $totalCnt = $('#totalCntP1');
			var params = {
				  teamcode:$("#p_teamcode").val()
				, teamname:$("#p_teamname").val()
				};

			$schList.empty().append('<tr ><td colspan="3" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });


			$.ajax({
				url:'/api/team/list?size='+ perPage + '&page=' + page,
				type : 'post',
				//dataType: json,
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#pagingP1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callListPopup'});

					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="3" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}

					$totalCnt.text(totCnt);

					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr>';
						html += '<td >'+ echoNull2Blank(value.teamcode) +'</td>';
						html += '<td >'+ echoNull2Blank(value.teamname) +'</td>';
						html += '<td >';
						html += '   <button class="c-button c-button--small c-button--point" ';
						html += '   onclick="javascript:selectpopup1(\''+ echoNull2Blank(value.teamcode) +'\',\''+ echoNull2Blank(value.teamname) +'\');">';
						html += '  선택</button> ';
						html += ' </td>';

						html += '</tr>';
					});
					$schList.html(html);
				}
			})
		}

	</script>
</th:block>

<div layout:fragment="content" class="content">
	<section class="section">
		<article class="article">
			<h3 class="article__head">사용자등록</h3>
			<form name="frmreg">
				<table class="c-table c-table--non-border">
					<colgroup>
						<col style="width: 130px;" />
						<col />
						<col style="width: 130px;" />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<th>아이디</th>
							<td>
								<input type="hidden" class="c-text__input" id="mode" name="mode" value = "N"/>
								<div class="c-text"><input type="text" class="c-text__input" id="userid" name="userid" /></div>
							</td>
							<th>패스워드</th>
							<td>
								<div class="c-text"><input type="password" class="c-text__input" id="password" name="password"/></div>
							</td>
						</tr>
						<tr>
							<th>이름</th>
							<td>
								<div class="c-text"><input type="text" class="c-text__input" id="username" name="username"/></div>
							</td>
							<th>이메일</th>
							<td>
								<div class="c-text"><input type="text" class="c-text__input" id="email" name="email"/></div>
							</td>
						</tr>
						<tr>
							<th>권한</th>
							<td>
								<div class="c-select">
									<select class="c-select__input" id="role" name="role">
										<option th:each ="role : ${roles}"
												th:value="${role.getCode()}"
												th:text="${role.getDesc()}"></option>

									</select>
								</div>
							</td>
							<th>부서</th>
							<td>
								<div class="c-text c-text--duo">
									<input type="text" class="c-text__input" readonly placeholder="부서코드" id="teamcode" name="teamcode"/>
									<input type="text" class="c-text__input" readonly placeholder="부서명" id="teamname" name="teamname"/>
									<button class="c-text__button" id="btn-search">검색</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			
			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item"><button class="c-button c-button--point" id="btnNew">신규</button></div>
					<div class="c-function__item"><button class="c-button c-button--point" id="btnSave">저장</button></div>
					<div class="c-function__item"><button class="c-button" id="btnDel">삭제</button></div>
				</div>
			</div>
		</article>
	</section>
	
	<section class="section">
		<article class="article">
			<h3 class="article__head">사용자조회</h3>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회후 해당라인을 클릭하세요)</span></h4>
				</div>
				<div class="l-float-heading--right"><button class="c-button c-button--small" id="btnClear" >조건 초기화</button></div>
			</div>
			<table class="c-table c-tabe--non-border">
				<colgroup>
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 60px;" />
				</colgroup>
				<tbody>
					<tr>
						<th>아이디</th>
						<td>
							<div class="c-text"><input type="text" class="c-text__input" id="s_userid" /></div>
						</td>
						<th>이름</th>
						<td>
							<div class="c-text"><input type="text" class="c-text__input" id="s_username" /></div>
						</td>
						<th>부서명</th>
						<td>
							<div class="c-text"><input type="text" class="c-text__input" id="s_teamname" /></div>
						</td>
						<td>
							<button class="c-button c-button--point" id="btnSearch">조회</button>
						</td>
					</tr>
				</tbody>
			</table>
		</article>
		
		<article class="article">
			<table class="c-table c-table--hover">
				<colgroup>
					<col style="width: 120px;" />
					<col style="width: 120px;" />
					<col />
					<col style="width: 120px;" />
					<col style="width: 120px;" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>아이디</th>
						<th>이름</th>
						<th>이메일</th>
						<th>권한</th>
						<th>부서코드</th>
						<th>부서명</th>
					</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>
			<div class="c-pager">
				<div class="c-paging" id ="paging1">
					<!-- 페이징 처리되는곳   -->
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id ="totalCnt">0</div>
				</div>
			</div>
		</article>
	</section>

    <div class="l-popup" id="pop-search">
    	<div class="l-popup__container">
    		<div class="l-popup__head">
    			<div class="l-popup__heading">부서 검색</div>
    		</div>
    		<div class="l-popup__content">
    			<div class="l-popup__section">
    				<table class="c-table c-table--non-border">
    					<colgroup>
    						<col style="width: 100px;" />
    						<col />
    						<col style="width: 100px;" />
    						<col />
    						<col style="width: 60px;" />
    					</colgroup>
    					<tbody>
    						<tr>
    							<th>부서코드</th>
    							<td>
    								<div class="c-text"><input type="text" class="c-text__input" id="p_teamcode" /></div>
    							</td>
    							<th>부서명</th>
    							<td>
    								<div class="c-text"><input type="text" class="c-text__input" id="p_teamname" /></div>
    							</td>
    							<td>
    								<button class="c-button c-button--point" id="btnSearchP1">조회</button>
    							</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    			<div class="l-popup__section">
    				<table class="c-table">
    					<colgroup>
    						<col />
    						<col />
    						<col style="width: 50px;" />
    					</colgroup>
    					<thead>
    						<tr>
    							<th>부서코드</th>
    							<th>부서명</th>
    							<th></th>
    						</tr>
    					</thead>
    					<tbody id ="schListP1">


    					</tbody>
    				</table>
					<div class="c-pager">
						<div class="c-paging" id="pagingP1">
							<!-- 페이징 처리되는곳   -->
						</div>
						<div class="c-paging__total">
							<div class="c-paging__total-group">
								Total
							</div>
							<div class="c-paging__total-group" id ="totalCntP1">0</div>
						</div>
					</div>
    			</div>
    		</div>
    		<a href="#" class="l-popup__close">팝업닫기</a>
    	</div>
    </div>

</div>

<div id='alertpop'>
</div>

</html>
