<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<th:block layout:fragment="script">
	<script type="text/javascript">

		$(function(){

			logreg(1,"기초정보","부서 등록",null);
			$("#btnSave").on('click',function(){
				save();
			});

			$("#btnNew").on('click',function(){
				init();
			});

			$("#btnSearch").on('click',function(){
				logreg(0,"기초정보","부서 등록",null);
				callList(1);
			});

			$("#btnDel").on('click',function(){
				del();
			});
			$("#btnExcelDown").on('click',function(){
				exceldown();
			});

		});

		// 부서저장 함수
		let jwt_token;
		function save() {

			JWT_Get();

			let url;

			const $teamcode = $("#teamcode");
			const $teamname = $("#teamname");

			if ($teamcode.val().trim() === '') {
				alert("부서코드를 입력하세요.");
				$teamcode.trigger('focus');
				return false;
			}

			if ($teamname.val().trim() === '') {
				alert("부서명을 입력하세요.");
				$teamname.trigger('focus');
				return false;
			}

			// var $form = $('form[name="frmreg"]');
			// var params = $form.serialize();

			const formData = new FormData(document.getElementById('frmreg'));
			url = $("#backend_protocol").val()+"://"+$("#backend_url").val() + "/api/team/reg"; // 호출할 백엔드 API
			$.ajax({
				url :  url,
				type : 'post',
				data : formData,
				cache:false,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(){
					console.log("저장되었습니다.");
					document.getElementById("teamFile").value = "";
					alert('저장되었습니다. ');
					init();
					callList(1);
				}
			});
		}

		// 부서 리스트조회
		function callList(page){

			JWT_Get();

			let url;

			page = page - 1;
			if (page < 0) page = 0

			const perPage = 10;
			const perArea = 5;
			let totCnt = 0;

			const $schList = $('#schList');
			const $totalCnt = $('#totalCnt');

			const params = {
				teamcode:$("#s_teamcode").val(),
				teamname:$("#s_teamname").val()
			};

			$schList.empty().append('<tr ><td colspan="3" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			// var token = $("meta[name='_csrf']").attr("content");
			// var header = $("meta[name='_csrf_header']").attr("content");
			// $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			url = $("#backend_protocol").val()+"://"+$("#backend_url").val() + "/api/team/list"; // 호출할 백엔드 API

			$.ajax({
				// url:'/api/team/list?size='+ perPage + '&page=' + page,
				url:url+'?size='+perPage+ '&page=' + page,
				type : 'GET',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					console.log("리스트출력");
					//화면 출력
					totCnt = res.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});

					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="3" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}

					$totalCnt.text(totCnt);

					var html = '';
					$.each(res.datalist, function(key, value){
						html += '<tr onclick="callinfo(\''+ echoNull2Blank(value.teamcode) +'\');">';
						html += '<td >'+ echoNull2Blank(value.teamcode) +'</td>';
						html += '<td >'+ echoNull2Blank(value.teamname) +'</td>';
						html += '<td >'+ echoNull2Blank(value.remark) +'</td>';

						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 부서정보 조회
		function callinfo(teamcode) {
			JWT_Get();

			let url;

			const params = {
				teamcode: teamcode
			};

			init();

			url = $("#backend_protocol").val()+"://"+$("#backend_url").val() + "/api/team/team"; // 호출할 백엔드 API

			$.ajax({
				// url:'/api/team/team',
				url: url,
				type : 'GET',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					$("#teamcode").val(res.sendData.sendTeamData.teamcode).attr("readonly",true);
					$("#teamname").val(res.sendData.sendTeamData.teamname);
					$("#remark").val(res.sendData.sendTeamData.remark);
					$("#mode").val('U');
				}
			});
		}

		// 부서삭제
		function del(){

			JWT_Get();

			let url;

			if ($("#teamcode").attr("readonly") !== "readonly"){
				alert("삭제하고자하는 부서를 하단에서 선택 후 삭제하세요.");
				return false;
			}

			if ($("#teamcode").val().trim() === '') {
				alert("삭제하고자하는 부서를 하단에서 선택 후 삭제하세요.");
				$("#teamcode").trigger('focus');
				return false;
			}

			const params = {
				teamcode: $("#teamcode").val()
			};

			url = $("#backend_protocol").val()+"://"+$("#backend_url").val() + "/api/team/del"; // 호출할 백엔드 API

			$.ajax({
				// url:'/api/team/del',
				url: url,
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(){
					alert('삭제되었습니다. ');
					init();
					callList(1);
				}
			});
		}

		//화면 초기화
		function init(){
			$("#teamcode").val('').removeAttr("readonly");
			$("#teamname").val('');
			$("#remark").val('');
			$("#mode").val('N');
		}

		// 엑셀파일다운로드
		function exceldown(){
			JWT_Get();

			let url;

			jwt_token = getCookie("JwtAccessToken");
			if(jwt_token==null){
				alertCaution("토큰이 만료되었습니다.<BR>다시 로그인해주세요.",2);
				console.log("토큰값이 널 입니다.");
				return false;
			}

			const teamcode = $("#s_teamcode").val();
			const teamname = $("#s_teamname").val();

			const params = {
				teamcode: teamcode,
				teamname: teamname
			};

			url = $("#backend_protocol").val()+"://"+$("#backend_url").val() + "/team/excelDownload"; // 호출할 백엔드 API

			$.ajax({
				url : url,
				type : 'post',
				data : params,
				cache : false,
				error : function(request){
					ajaxErrorMsg(request);
				},
				success : function(){
					alert('엑셀 다운로드 완료. ');
				}
			});

			// document.location.href = 'http://localhost:8011/team/excelDownload?teamcode=' + teamcode +"&teamname=" + teamname;
		}

	</script>

</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="backend_url" th:value="${backend_url}" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" />
	<section class="section">
		<article class="article">
			<h3 class="article__head">부서 등록</h3>
			<form id="frmreg" enctype="multipart/form-data">
				<table class="c-table c-table--non-border">
					<colgroup>
						<col style="width: 130px;" />
						<col />
						<col style="width: 130px;" />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<th>부서코드</th>
							<input type="hidden" class="c-text__input" id="mode" name="mode" value = "N"/>
							<td>
								<div class="c-text"><input type="text" class="c-text__input" id="teamcode" name="teamcode"/></div>
							</td>
							<th>부서명</th>
							<td>
								<div class="c-text"><input type="text" class="c-text__input"  id="teamname" name="teamname"/></div>
							</td>
						</tr>
						<tr>
							<th>비고</th>
							<td colspan="3">
								<textarea class="c-textarea" id ="remark" name="remark"></textarea>
							</td>
						</tr>
						<tr>
							<th>첨부파일</th>
							<td colspan="3">
							<input type="file" id="teamFile" name="teamFile" />
						</td>
						</tr>
					</tbody>
				</table>
			</form>



			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item"><button class="c-button c-button--point" id="btnNew">신규</button></div>
					<div class="c-function__item"><button class="c-button c-button--point" id="btnSave">저장</button></div>
					<div class="c-function__item"><button class="c-button" id="btnDel">삭제</button></div>
					<div class="c-function__item"><button class="c-button" onclick="accessTokenCookieGet()">쿠키토큰값확인</button></div>
				</div>
			</div>
		</article>
	</section>

	<section class="section">
		<article class="article">
			<h3 class="article__head">팀 조회</h3>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회후 해당라인을 클릭하세요)</span></h4>
				</div>
			</div>
			<table class="c-table c-table--non-border">
				<colgroup>
					<col style="width: 130px;" />
					<col />
					<col style="width: 130px;" />
					<col />
					<col style="width: 120px;" />
					<col style="width: 60px;" />
				</colgroup>
				<tbody>
					<tr>
						<td>부서코드</td>
						<td>
							<div class="c-text"><input type="text" class="c-text__input" id="s_teamcode" /></div>
						</td>
						<td>부서명</td>
						<td>
							<div class="c-text"><input type="text" class="c-text__input" id="s_teamname"/></div>
						</td>
						<td>
							<button class="c-button" id="btnExcelDown">XLS 다운로드</button>
						</td>
						<td>
							<button class="c-button c-button--point" id="btnSearch">조회</button>
						</td>
					</tr>
				</tbody>
			</table>
		</article>

		<article class="article">
			<table class="c-table c-table--hover">
				<colgroup>
					<col style="width: 100px;" />
					<col style="width: 150px;]" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>부서코드</th>
						<th>부서명</th>
						<th>비고</th>
					</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>

			<div class="c-pager">
				<div class="c-paging" id ="paging1">
					<!-- 페이징 처리되는곳   -->
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id ="totalCnt">0</div>
				</div>
			</div>

		</article>
	</section>
</div>
</html>
