<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		#amChart {
			width: 100%;
			height: 500px;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- am chart -->
	<script src="/assets/js/min_js_dir/charts/am/core.js"></script>
	<script src="/assets/js/min_js_dir/charts/am/charts.js"></script>
	<script src="/assets/js/min_js_dir/charts/am/material.js"></script>
	<script src="/assets/js/min_js_dir/charts/am/ko_KR.js"></script>
	<script src="/assets/js/min_js_dir/charts/am/animated.js"></script>

	<script src="/assets/js/min_js_dir/newdeal/lifetime/lifetime_detail.js"></script>
	<script type="text/javascript">
		$(function() {
			logreg(1,"의사결정 시스템","생애주기 의사결정 세부부분 지원 서비스 Output",null);

			const getid = $('#getid').val();
			if(getid!==null){
				lifeDetailTimeOutput(getid);
			}else{
				alertCaution("존재하지 않은 글입니다.",1);
			}
		});
	</script>
</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="getid" th:value="${getid}" readonly="readonly" />
	<input type="hidden" id="backend_url" th:value="${backend_url}" readonly="readonly" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" readonly="readonly" />
	<div class="content__inner">
		<div class="lifetime" id="lifetime">
			<div class="talk__box">
				<div class="talk__contents">
					<div class="talk__flex">
						<div class="talk__flex-item talk__flex-item--7">
							<table class="c-table c-table--border">
								<colgroup>
									<col />
									<col />
									<col />
									<col />
									<col />
									<col />
									<col />
								</colgroup>
								<thead>
									<tr>
										<th colspan="7" class="align--center">보수보강비용</th>
									</tr>
									<tr>
										<th></th>
										<th>보수1</th>
										<th>보수2</th>
										<th>보수3</th>
										<th>보강1</th>
										<th>보강2</th>
										<th>교체</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>회복율</th>
										<td id="ltRecoveryOne"></td>
										<td id="ltRecoveryTwo"></td>
										<td id="ltRecoveryThree"></td>
										<td id="ltRecoveryFour"></td>
										<td id="ltRecoveryFive"></td>
										<td id="ltRecoverySix"></td>
									</tr>
									<tr>
										<th>비용(만원/m)</th>
										<td id="ltCostOne"></td>
										<td id="ltCostTwo"></td>
										<td id="ltCostThree"></td>
										<td id="ltCostFour"></td>
										<td id="ltCostFive"></td>
										<td id="ltCostSix"></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="talk__flex-item talk__flex-item--3">
							<table class="c-table c-table--border">
								<colgroup>
									<col />
									<col style="width: 100px;" />
								</colgroup>
								<thead>
									<tr>
										<th colspan="2" class="align--center">유지관리 보수 보강 제시값</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>보수보강 총 길이(m)</th>
										<td>10</td>
									</tr>
									<tr>
										<th>보수보강 개입 횟수(회)</th>
										<td id="repairNumber"></td>
									</tr>
									<tr>
										<th>보수보강 총 비용(만원)</th>
										<td id="repairCost"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="talk__box">
				<div class="talk__contents">
					<div class="talk__chart-area">
						<div class="talk__chart">
							<div id="amChart1"></div>
						</div>
	
						<div class="talk__chart-table">
							<table class="c-table c-table--border">
								<colgroup>
									<col />
									<col style="width: 100px;" />
								</colgroup>
								<thead>
									<tr>
										<th colspan="2" class="align--center">무조치시</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>손상확률 최대값</th>
										<td id="pfmax"></td>
									</tr>
									<tr>
										<th>신뢰성 지수 최소값</th>
										<td id="pfmin"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th>Time(Years)</th>
								<th>0</th>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
								<th>5</th>
								<th>6</th>
								<th>7</th>
								<th>8</th>
								<th>9</th>
								<th>10</th>
								<th>11</th>
								<th>12</th>
								<th>13</th>
								<th>14</th>
								<th>15</th>
								<th>16</th>
								<th>17</th>
								<th>18</th>
								<th>19</th>
								<th>20</th>
							</tr>
						</thead>
						<tbody id="noActionTable">
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="talk__box">
				<div class="talk__contents">
					<div class="talk__chart-area">
						<div class="talk__chart">
							<div id="amChart2"></div>
						</div>
	
						<div class="talk__chart-table">
							<table class="c-table c-table--border">
								<colgroup>
									<col />
									<col style="width: 100px;" />
								</colgroup>
								<thead>
									<tr>
										<th colspan="2" class="align--center">유지보수 개입시</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>신뢰성 지수 최대값</th>
										<td id="bmax"></td>
									</tr>
									<tr>
										<th>신뢰성 지수 최소값</th>
										<td id="bmin"></td>
									</tr>
									<tr>
										<th>보수보강 회복율</th>
										<td id="ltRecoveryPercent"></td>
									</tr>
									<tr>
										<th>유지보수 무조치 가능년수</th>
										<td id="maintenanceYear"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					
					<table class="c-table c-table--border">
						<colgroup>
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th>Time(Years)</th>
								<th>0</th>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
								<th>5</th>
								<th>6</th>
								<th>7</th>
								<th>8</th>
								<th>9</th>
								<th>10</th>
								<th>11</th>
								<th>12</th>
								<th>13</th>
								<th>14</th>
								<th>15</th>
								<th>16</th>
								<th>17</th>
								<th>18</th>
								<th>19</th>
								<th>20</th>
							</tr>
						</thead>
						<tbody id="actionTable">
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>


	
</div>
</html>
