<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		$(function() {
			
		});
	</script>
</th:block>

<div layout:fragment="content" class="content">
	<div class="content__inner">
		<div class="lifetime" id="lifetime">
			<div class="talk">
				<div class="talk__box">
					<div class="talk__header">
						<h3>교량 부재 수준 - 사용자 입력 사항</h3>
					</div>
					<div class="talk__contents">
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>교량코드</th>
									<th>교량명</th>
									<th>경간수</th>
									<th>세부부재명</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>B001</td>
									<td>%%교</td>
									<td>4</td>
									<td>PSCI 거던</td>
								</tr>
							</tbody>
						</table>
						
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">대표보수보강공법 수행 전</th>
									<th rowspan="2">전체물량</th>
									<th>할인율</th>
									<th rowspan="2">열화증가율</th>
								</tr>
								<tr>
									<th>등급</th>
									<th>손상지수</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>B</td>
									<td>0.2</td>
									<td>700 unit:m2</td>
									<td>4%</td>
									<td>1%</td>
								</tr>
							</tbody>
						</table>
						
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>점검종류</th>
									<th>빈도수(년/회)</th>
									<th>비용</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>정기점검</th>
									<td>0.5</td>
									<td>3,437,000</td>
								</tr>
								<tr>
									<th>정밀점검</th>
									<td>2</td>
									<td>16,152,000</td>
								</tr>
								<tr>
									<th>정밀안전진단</th>
									<td>5</td>
									<td>48,463,000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="talk">
				<div class="talk__box">
					<div class="talk__header">
						<h3>총 LCC</h3>
					</div>
					<div class="talk__contents">
						<h4>단계별 점검진단(보수보강수행시기 시점)</h4>
						<table class="c-table c-table--border">
							<colgroup>
								<col />
								<col />
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>정기점검 횟수</th>
									<th>정밀점검 횟수</th>
									<th>정밀안전진단 횟수</th>
									<th>[할인율 적용]<br />총 점검비용(원)</th>
									<th>[할인율 적용]<br />실제 총 유지관리비용(원)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>29</td>
									<td>7</td>
									<td>1</td>
									<td>158,911,215</td>
									<td>192,449,817</td>
								</tr>
								<tr>
									<td>47</td>
									<td>11</td>
									<td>3</td>
									<td>278,573,058</td>
									<td>335,754,036</td>
								</tr>
								<tr>
									<td>65</td>
									<td>16</td>
									<td>5</td>
									<td>366,503,381</td>
									<td>440,379,533</td>
								</tr>
								<tr>
									<td>82</td>
									<td>20</td>
									<td>7</td>
									<td>422,675,421</td>
									<td>508,361,320</td>
								</tr>
								<tr>
									<td>100</td>
									<td>25</td>
									<td>9</td>
									<td>464,780,338</td>
									<td>558,834,521</td>
								</tr>
								<tr>
									<td>133</td>
									<td>33</td>
									<td>12</td>
									<td>506,429,175</td>
									<td>652,482,884</td>
								</tr>
								<tr>
									<td>191</td>
									<td>47</td>
									<td>18</td>
									<td>539,734,549</td>
									<td>789,318,232</td>
								</tr>
								<tr>
									<td>257</td>
									<td>64</td>
									<td>24</td>
									<td>550,897,337</td>
									<td>828,967,019</td>
								</tr>
								<tr>
									<td>323</td>
									<td>80</td>
									<td>31</td>
									<td>554,156,563</td>
									<td>840,064,090</td>
								</tr>
								<tr>
									<td>388</td>
									<td>97</td>
									<td>37</td>
									<td>555,007,152</td>
									<td>843,071,242</td>
								</tr>
								<tr>
									<td>454</td>
									<td>113</td>
									<td>44</td>
									<td>555,257,758</td>
									<td>843,915,221</td>
								</tr>
								<tr>
									<td>520</td>
									<td>130</td>
									<td>51</td>
									<td>555,325,381</td>
									<td>844,146,109</td>
								</tr>
								<tr>
									<td>586</td>
									<td>146</td>
									<td>57</td>
									<td>555,342,366</td>
									<td>844,208,016</td>
								</tr>
								<tr>
									<td>652</td>
									<td>163</td>
									<td>64</td>
									<td>555,347,536</td>
									<td>844,225,546</td>
								</tr>
								<tr>
									<td>717</td>
									<td>179</td>
									<td>70</td>
									<td>555,348,830</td>
									<td>844,230,241</td>
								</tr>
								<tr>
									<td>783</td>
									<td>195</td>
									<td>77</td>
									<td>555,349,224</td>
									<td>844,231,571</td>
								</tr>
								<tr>
									<td>849</td>
									<td>212</td>
									<td>83</td>
									<td>555,349,327</td>
									<td>844,231,932</td>
								</tr>
								<tr>
									<td>915</td>
									<td>228</td>
									<td>90</td>
									<td>555,349,357</td>
									<td>844,232,033</td>
								</tr>
								<tr>
									<td>981</td>
									<td>245</td>
									<td>97</td>
									<td>555,349,366</td>
									<td>844,232,060</td>
								</tr>
								<tr>
									<td>1046</td>
									<td>261</td>
									<td>103</td>
									<td>555,349,368</td>
									<td>844,232,068</td>
								</tr>
								<tr>
									<td>1112</td>
									<td>278</td>
									<td>110</td>
									<td>555,349,368</td>
									<td>844,232,070</td>
								</tr>
								<tr>
									<td>1178</td>
									<td>294</td>
									<td>116</td>
									<td>555,349,368</td>
									<td>844,232,070</td>
								</tr>
								<tr>
									<td>1244</td>
									<td>311</td>
									<td>123</td>
									<td>555,349,368</td>
									<td>844,232,070</td>
								</tr>
								<tr>
									<td>1310</td>
									<td>327</td>
									<td>130</td>
									<td>555,349,368</td>
									<td>844,232,070</td>
								</tr>
								<tr>
									<td>1375</td>
									<td>343</td>
									<td>136</td>
									<td>555,349,368</td>
									<td>844,232,070</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="talk__box">
					<div class="talk__contents">
						<h4>CASE별 유지관리 시나리오</h4>
						<div class="chart">chart 영역</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</div>
</html>
