<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
	$(function(){

		logreg(1,"노후화 데이터 확보 및 관리 기술","장기조사실험체 계측 데이터 공유 서비스",null);

		$("#btnGraph").on('click',function(){
			callGraph();
		});

		$("#btnExcel").on('click',function(){
			callExcelDown();
		});

		//화면초기화
		displayInit();

	})

	//처음화면 로딩될떼 그래프및 Select box 값 초기화
	function displayInit() {

		JWT_Get();

		if (accessToken == null || refreshToken == null || insert_id == null) {
			// console.log("callinfo(userid)함수 : 토큰&리플레시&로그인한아이디 Null");
			alertCaution("토큰이 만료되었습니다.<BR>다시 로그인해주세요.", 2);
		} else {
			treatmentconditionSetting(); // NEWDEAL 시리즈,측정항목 또는 주기가 변경됬을때 분석조건 Select 박스의 값을 세팅한다.
			periodnameSetting(); // NEWDEAL 주기세팅
			seriesAnnotaionSetting();
			periodnameShowSetting();

			const d1 = ["x", "0-0.15cm", "0.15-1.5cm", "1.5-3cm", "3-4.5cm", "4.5-6cm"];
			const d2 = ["내륙환경,고로슬래그","7.30","93.90","66.40","54.50","52.16"];
			const d3 = ["해안환경,플라이애쉬","8.90","49.25","null","65.60","51.25"];
			const arraydata = [d1,d2,d3];
			//라인그래프 표기
			line_graph2_call("c3-line", "측정항목별 그래프 예시화면 ", "단위(μ, Mpa ..)", arraydata);
			//rowdata 표기
			line_raw2_display("rawdatadisplay",arraydata);
		}
	}

	// NEWDEAL 데이터 엑셀파일로 다운로드
	function callExcelDown(){
		const seriescode = $("#serioscode").val();
		const measurementitemcode = $("#measurementitemcode").val();
		document.location.href = $("#backend_protocol").val() + "://" + $("#backend_url").val()+'/api/ltd/common/graphrowdata.xls?seriescode=' + seriescode +"&measurementitemcode=" + measurementitemcode;
	}

	function periodnameShowSetting(){

		if ( $("#periodtype").val() === "P01") {
			$("#periodToggle").hide();
			$("#periodSelect").removeClass("small");
		}else{
			$("#periodToggle").show();
			$("#periodSelect").addClass("small");
		}

	}

	function seriesAnnotaionSetting(){

		const $seriesdivarea = $('#series_annotation');
		const $serioscode = $('#serioscode');
		let html = '';
		if ($serioscode.val() === "S001") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">35년차 해사 사용 장기 시험체</h4>';
			html += '	<p class="series__comment">*25년차, 35년차(2018년) 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 2종(56%, 62%)</li>';
			html += '		<li>염분함유량: 6종(0, 0.01, 0.04, 0.1, 0.2, 0.5%)</li>';
			html += '		<li>방청제 사용: 3종(무사용(Plain), NR-1900, Rusnein)</li>';
			html += '		<li>콘크리트 덮개: 3종(2, 3, 5cm)</li>';
			html += '		<li>측정주기: 1, 5, 10, 15, 20, 25, 30년</li>';
			html += '		<li>노출장소: 내륙지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S002") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">내륙시험체</h4>';
			html += '	<p class="series__comment">*1년, 3년차 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 3종(40, 50, 60%)</li>';
			html += '		<li>염분함유량: 4종(0.04, 0.16, 0.64, 2.56%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년</li>';
			html += '		<li>노출장소: 내륙지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S003") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">해안환경 기준 시험체</h4>';
			html += '	<p class="series__comment">*1년, 3년차 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 3종(40, 50, 60%)</li>';
			html += '		<li>염분함유량: 4종(0.04, 0.16, 0.64, 2.56%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년</li>';
			html += '		<li>노출장소: 해안지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S004") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">부순골재/재생모래 사용 시험체</h4>';
			html += '	<p class="series__comment">*1년차 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 1종(50%)</li>';
			html += '		<li>염분함유량: 2종(0.04, 0.64%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년</li>';
			html += '		<li>노출장소: 내륙 및 해안지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S005") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">고로슬래그/플라이애쉬 사용 시험체</h4>';
			html += '	<p class="series__comment">*1년, 10년차(2018년) 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 1종(50%)</li>';
			html += '		<li>염분함유량: 2종(0.04, 0.64%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년</li>';
			html += '		<li>노출장소: 내륙 및 해안지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S006") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">실리카흄 사용 시험체</h4>';
			html += '	<p class="series__comment">*1년차 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 1종(50%)</li>';
			html += '		<li>염분함유량: 2종(0.04, 0.64%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년</li>';
			html += '		<li>노출장소: 내륙 및 해안지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}
		if ($serioscode.val() === "S007") {
			html += '<div class="series__inner">';
			html += '	<h4 class="series__heading">염분 함유 기준 시험체</h4>';
			html += '	<p class="series__comment">*1년, 3년차 수행</p>';
			html += '	<ul class="series__list">';
			html += '		<li>w/c: 1종(50%)</li>';
			html += '		<li>염분함유량: 5종(0.04, 0.32, 0.96, 1.60, 2.24%)</li>';
			html += '		<li>콘크리트 덮개: 4종(1, 2, 3, 4cm)</li>';
			html += '		<li>측정주기: 1, 3, 5, 10, 15, 20년(최대 기준)</li>';
			html += '		<li>노출장소: 내륙 및 해안지역</li>';
			html += '		<li>시험항목';
			html += '			<ol>';
			html += '				<li>압축강도 / 탄산화깊이</li>';
			html += '				<li>초음파속도, 길이변형률, 부식면적률</li>';
			html += '				<li>깊이별 염화물 함유량</li>';
			html += '			</ol>';
			html += '		</li>';
			html += '	</ul>';
			html += '</div>';
		}

		$seriesdivarea.html(html);

	}

	// NEWDEAL 주기세팅
	function periodnameSetting(){

		const $schList = $('#periodname');


		if ($('#periodtype').val() === 'P01') {
			let html = '';
			html += '<option value="">선택하세요</option>';
			$schList.html(html);
			return false;
		}

		const params = {
			seriescode: $("#serioscode").val()
		};

		let apiurl = $("#backend_protocol").val() + "://" + $("#backend_url").val(); // 호출할 백엔드 API

		const $measurementitemcode = $("#measurementitemcode");
		//압축강도
		if ($measurementitemcode.val() === "M001"){
			apiurl = apiurl+'/api/ltd/data/cs/period';
		}
		//탄산화깊이
		if ($measurementitemcode.val() === "M002"){
			apiurl = apiurl+'/api/ltd/data/cd/period';
		}
		//길이변형률
		if ($measurementitemcode.val() === "M003"){
			apiurl = apiurl+'/api/ltd/data/dr/period';
		}
		//초음파속도
		if ($measurementitemcode.val() === "M004"){
			apiurl = apiurl+'/api/ltd/data/us/period';
		}
		//철근부식량
		if ($measurementitemcode.val() === "M005"){
			apiurl = apiurl+'/api/ltd/data/rc/period';
		}
		//철근부식면적률
		if ($measurementitemcode.val() === "M006"){
			apiurl = apiurl+'/api/ltd/data/ca/period';
		}
		//염분함유량
		if ($measurementitemcode.val() === "M007"){
			apiurl = apiurl+'/api/ltd/data/pc/period';
		}

		$.ajax({
			url: apiurl,
			type : 'post',
			data : params,
			cache:false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("JWT_AccessToken", accessToken);
				xhr.setRequestHeader("insert_id", insert_id);
			},
			error:function(request){
				ajaxErrorMsg(request);
			},
			success: function(request){
				let status = request.status;
				if (status === 200) {
					let html = '';
					$.each(request.sendData.datalist, function(key, value){
						html += '<option value ="'+ echoNull2Blank(value.name) + '">' + echoNull2Blank(value.name) + '</option>';
					});
					$schList.html(html);
				} else {
					if (request.err_msg2 === null) {
						alertCaution(request.err_msg, 1);
					} else {
						alertCaution(request.err_msg + "<br>" + request.err_msg2, 1);
					}
				}
			}
		});
	}

	// NEWDEAL 시리즈,측정항목 또는 주기가 변경됬을때 분석조건 Select 박스의 값을 세팅한다.
	function treatmentconditionSetting(){

		let url;

		const params = {
			seriescode: $("#serioscode").val(),
			measurementitemcode: $("#measurementitemcode").val(),
			periodtype: $("#periodtype").val()
		};

		const $schList = $('#treatmentcondition');

		url = $("#backend_protocol").val() + "://" + $("#backend_url").val() + "/api/ltd/common/tccode"; // 호출할 백엔드 API

		$.ajax({
			url: url,
			type : 'post',
			data : params,
			cache:false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("JWT_AccessToken", accessToken);
				xhr.setRequestHeader("insert_id", insert_id);
			},
			error:function(request){
				ajaxErrorMsg(request);
			},
			success: function(request){
				let status = request.status;
				// console.log("status : " + status);
				if (status === 200) {
					let html = '';
					//html += '<option value="">선택하세요</option>';
					$.each(request.sendData.datalist, function(key, value){
						html += '<option value ="'+ echoNull2Blank(value.code) + '">' + echoNull2Blank(value.name) + '</option>';
					});
					$schList.html(html);
				} else {
					if (request.err_msg2 === null) {
						alertCaution(request.err_msg, 1);
					} else {
						alertCaution(request.err_msg + "<br>" + request.err_msg2, 1);
					}
				}
			}
		});
	}


	function callGraph() {

		if ($("#periodtype").val().trim() === 'P02'  && $('#periodname').val() === "" ) {
			alertCaution("해당주기를 선택했을경우 <br>주기선택은 필수입니다.",1)
			return false;
		}

		if ($("#treatmentcondition").val() === '') {
			alertCaution("분석조건을 선택하세요",1);
			return false;
		}

		const $measurementitemcode = $("#measurementitemcode");
		let apiurl = $("#backend_protocol").val() + "://" + $("#backend_url").val(); // 호출할 백엔드 API

		//측정항목에따라 호출 URL이 다르다
		//압축강도
		if ($measurementitemcode.val() === "M001"){
			apiurl = apiurl+'/api/ltd/data/cs';
		}
		//탄산화깊이
		if ($measurementitemcode.val() === "M002"){
			apiurl = apiurl+'/api/ltd/data/cd';
		}
		//길이변형률
		if ($measurementitemcode.val() === "M003"){
			apiurl = apiurl+'/api/ltd/data/dr';
		}
		//초음파속도
		if ($measurementitemcode.val() === "M004"){
			apiurl = apiurl+'/api/ltd/data/us';
		}
		//철근부식량
		if ($measurementitemcode.val() === "M005"){
			apiurl = apiurl+'/api/ltd/data/rc';
		}
		//철근부식면적률
		if ($measurementitemcode.val() === "M006"){
			apiurl = apiurl+'/api/ltd/data/ca';
		}
		//염분함유량
		if ($measurementitemcode.val() === "M007"){
			apiurl = apiurl+'/api/ltd/data/pc';
		}

		var params = {
			seriescode: $("#serioscode").val(),
			periodtype: $("#periodtype").val(),
			treatmentcondition: $("#treatmentcondition").val(),
			periodname: $("#periodname").val()
		};

		if (apiurl === ''){
			alertCaution("선택한 측정항목의 데이터는<br> 현재 개발중입니다. ")
			return false;
		}

		$.ajax({
			url:apiurl,
			type : 'post',
			//dataType: 'html',
			data : params,
			cache:false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("JWT_AccessToken", accessToken);
				xhr.setRequestHeader("insert_id", insert_id);
			},
			error:function(request){
				ajaxErrorMsg(request);
			},
			success: function(request) {
				let status = request.status;
				// console.log("status : " + status);
				if (status === 200) {
					//전체주기면 Line 그래프
					if ($("#periodtype").val() === "P01") {
						line_graph_call("c3-line", request.sendData.title, request.sendData.unit, request.sendData.datacolumns);
						//rowdata 표기
						line_raw_display("rawdatadisplay", request.sendData.datacolumns)
					}//해당주기일때
					else {
						if ($("#measurementitemcode").val() === "M007") {
							//측정항목이 염분함유량이면 라인그래프로 변환
							var linedate = convedrt_bar_to_line(request.sendData.datacolumns, request.sendData.categories);
							line_graph2_call("c3-line", request.sendData.title, request.sendData.unit, linedate);
						} else {
							//막대그래프
							bar_graph_call("c3-line", request.sendData.title, request.sendData.unit, request.sendData.datacolumns, request.sendData.categories);
						}

						//rowdata 표기
						bar_raw_display("rawdatadisplay", request.sendData.datacolumns, request.sendData.categories)
					}
				} else {
					if (request.err_msg2 === null) {
						alertCaution(request.err_msg, 1);
					} else {
						alertCaution(request.err_msg + "<br>" + request.err_msg2, 1);
					}
				}
			}
		});

	}

</script>

</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="backend_url" th:value="${backend_url}" readonly="readonly" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" readonly="readonly" />
	<section class="section">
		<article class="article">
			<h3 class="article__head">장기조사데이터 조회</h3>
			
			<div class="c-flex">
				<div class="c-flex__box">
					<div class="category-box">
						<div class="category">
							<div class="category__inner">
								<h4 class="category__heading">시험체</h4>
								<div class="c-select">
									<select name="serioscode" id="serioscode" class="c-select__input" onchange="treatmentconditionSetting();periodnameSetting();seriesAnnotaionSetting();">
										<option th:each ="code : ${serioscode}"
												th:value="${code.getCode()}"
												th:text="${code.getDesc()}"></option>
		
									</select>
								</div>
							</div>
						</div>
						<div class="category">
							<div class="category__inner">
								<h4 class="category__heading">측정항목</h4>
								<div class="c-select">
									<select name="measurementitemcode" id="measurementitemcode" class="c-select__input" onchange="treatmentconditionSetting();periodnameSetting();">
										<option th:each ="code : ${measurementitemcode}"
												th:value="${code.getCode()}"
												th:text="${code.getDesc()}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="category small" id="periodSelect">
							<div class="category__inner">
								<h4 class="category__heading">주기</h4>
								<div class="c-select">
									<select name="periodtype" id="periodtype" class="c-select__input" onchange="treatmentconditionSetting();periodnameSetting();periodnameShowSetting();">
										<option th:each ="code : ${periodtype}"
												th:value="${code.getCode()}"
												th:text="${code.getDesc()}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="category small" id="periodToggle">
							<div class="category__inner">
								<h4 class="category__heading" id="periodnameTitle">주기선택</h4>
								<div class="c-select">
									<select name="periodname" id="periodname" class="c-select__input">
										<option value="">선택하세요</option>
		
									</select>
								</div>
							</div>
						</div>
						<div class="category">
							<div class="category__inner">
								<h4 class="category__heading">분석조건</h4>
								<div class="c-select">
									<select name="treatmentcondition" id="treatmentcondition" class="c-select__input">
										<option value="">선택하세요</option>
										<option th:each ="code : ${treatmentcondition}"
												th:value="${code.getCode()}"
												th:text="${code.getDesc()}"></option>
									</select>
								</div>
							</div>
						</div>
		
					</div>
					<div class="c-function position-bottom">
						<div class="c-function__group c-function__group--right">
							<div class="c-function__item">
								<button class="c-button" id="btnExcel">측정 데이타 엑셀 다운로드</button>
							</div>
							<div class="c-function__item">
								<button class="c-button c-button--point" id="btnGraph">그래프 보기</button>
							</div>
		
						</div>
					</div>
				</div>
				
				<div class="c-flex__box">
					<div class="series" id="series_annotation">

					</div>
				</div>
			</div>

		</article>

		<article class="article">
			<div class="c-flex c-flex--float">
				<div class="c-flex__box">
					<div class="graph">
						<div id="c3-line"></div>
					</div>
				</div>
				<div class="c-flex__box">
					<div class="c-flex__box-inner">
						<table class="c-table">
							<tbody id = "rawdatadisplay">
			
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>

	</section>
</div>

</html>


