<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<header th:fragment="headerFragment" class="header login">
	<div class="header__inner">
		<div>
			<a href="/" class="logo"><span>BMAPS</span></a>
		</div>

		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__link toggle">의사결정 시스템</a>
					<ul class="nav__list-depth">
						<li class="nav__item"><a href="#" class="nav__link">장래 예산수요 추정서비스</a></li>
						<li class="nav__item"><a href="#" class="nav__link">유지보수 우선순위 선정서비스</a></li>
						<li class="nav__item"><a href="/performance/input" class="nav__link">성능개선 사업평가 서비스</a></li>
						<li class="nav__item"><a href="#" class="nav__link">중기 재정계획 수립서비스</a></li>
					</ul>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link toggle">depth1-2</a>
					<ul class="nav__list-depth">
						<li class="nav__item"><a href="#" class="nav__link">depth2-1</a></li>
						<li class="nav__item"><a href="#" class="nav__link">depth2-2</a></li>
						<li class="nav__item"><a href="#" class="nav__link">depth2-3</a></li>
					</ul>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">depth1-3</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link toggle">depth1-2</a>
					<ul class="nav__list-depth">
						<li class="nav__item"><a href="#" class="nav__link">depth2-1</a></li>
						<li class="nav__item"><a href="#" class="nav__link">depth2-2</a></li>
					</ul>
				</li>
			</ul>

		</nav>

		<div class="info" sec:authorize="isAuthenticated()">
			<div class="user">
				<ul>
					<li class="user__img">
						<img src="/assets/images/icon__user.svg" alt="user" />
						<!-- <img src="/assets/images/icon__admin.svg" alt="admin" /> -->
					</li>
					<li class="user__name">
						<!-- <div sec:authentication="name"> -->
						<span>UserName</span>
					</li>
				</ul>
			</div>
			<ul class="info__btn-list">
				<li>
					<button class="info__btn setting">설정</button>
				</li>
				<li>
					<button class="info__btn logout">Logout</button>
				</li>
				
				<!-- <li>
					<form th:action="@{/logout}" method="post">
				        <input type="submit" class="info__btn" value="로그아웃"/>
				    </form>
				</li> -->
				
			</ul>
		</div>
		<!-- <div class="info" sec:authorize="!isAuthenticated()">
			<ul>
				<li>
					<a href="/login" class="info__btn">로그인</a>
				</li>
			</ul>
		</div>
		<input id="checkId" type="hidden" th:value="${session.userid}" />
		 -->
	</div>
</header>

</html>
