<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default2}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript">
		$(document).ready(function () {			
			
		})
	</script>
</th:block>
<div layout:fragment="content" class="content">
	<section class="section">
		<h2 class="section__heading">공지사항</h2>
		<div class="board">
			<table class="c-table c-table--border">
				<colgroup>
					<col style="width: 100px;" />
					<col />
					<col style="width: 100px;" />
					<col style="width: 180px;" />
				</colgroup>
				<tbody>
					<tr>
						<th>제목</th>
						<td colspan="3">BMAPS 서비스가 오픈하였습니다.</td>
						<!-- <th>조회수</th>
						<td></td> -->
					</tr>
					<tr>
						<th>등록자</th>
						<td>관리자</td>
						<th>등록일</th>
						<td>2021-10-05</td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td colspan="3"></td>
					</tr>
					<tr>
						<td colspan="3" style="height: 450px;">
							<div class="board__content">
								<h3>BMAPS 서비스가 가오픈 되었습니다.</h3>
								<p>가오픈 기간동안 사용해보시고 부족한 점과 개선점 피드백 부탁드립니다.</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="c-function">
			<div class="c-function__group c-function__group--right">
				<div class="c-function__item">
					<a href="/loginindex" class="c-button c-button--point">뒤로가기</a>
				</div>
			</div>
		</div>
	</section>
</div>
</html>