<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default2">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    console.log("backend_url : "+$("#backend_url").val());
    console.log("backend_protocol : "+$("#backend_protocol").val());
</script>
<body>
<h1>엑셀데이터 OutPut</h1>
    <input type="text" id="backend_url" th:value="${backend_url}" />
    <input type="text" id="backend_protocol" th:value="${backend_protocol}" />
</body>
</html>