<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default2">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/assets/js/min_js_dir/newdeal/env/envdata.js"></script>
    <script>
        $(function() {
            $('#close').on('click', function (e) {
                $('.l-popup').removeClass('open');
            });
        });
    </script>
</th:block>
<div layout:fragment="content" class="content">
    <section class="section">
        <div class="section__head">
            <h3 class="section__heading">열화환경 데이터 서비스</h3>
        </div>
        <div class="section__content">
            <ul class="c-tabs c-tabs--split">
                <li class="c-tabs__item active">
                    <button class="c-tabs__btn">지역별 열화환경 데이터(최근 10년 평균)</button>
                </li>
                <li class="c-tabs__item">
                    <button class="c-tabs__btn">환경계수</button>
                </li>
                <li class="c-tabs__item">
                    <button class="c-tabs__btn">염해 지역계수</button>
                </li>
            </ul>
            <ul class="c-tabs-body">
                <li class="c-tabs-body__item active">
                    <table class="c-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>지역</th>
                                <th>동결융해 싸이클수(회)</th>
                                <th>강설일수(일)</th>
                                <th>강수일수(일)</th>
                                <th>상대습도 95% 이상 일수(일)</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>속초</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>인제</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>철원</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>동두천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>문산/파주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>대관령</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>춘천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>백령도</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>북강릉</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>강릉</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>동해</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>서울</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>인천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>원주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>울릉도</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>수원</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영월</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>충주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>서산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>울진</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>청주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>대전</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>추풍령</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>안동</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>상주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>포항</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>군산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>대구</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>전주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>울산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>창원</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>광주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>부산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>통영</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>목포</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>여수</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>흑산도</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>완도</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고창</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>순천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>진도</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>제주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>성산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>서귀포</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>진주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>강화</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>양평</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>인제</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>홍천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>태백</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>정선군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>제천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보은</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>천안</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보령</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>부여</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>금산</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>부안</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>임실</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>정읍</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>남원</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>장수</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고창군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영광군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>김해시</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>순창군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>북창원</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>양산시</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보성군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>강진군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>장흥</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>해남</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고흥</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>의령군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>함양군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>광양시</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>진도군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>봉화</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영주</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>문경</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>청송군</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영덕</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>의성</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>구미</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>경주시</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>거창</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>합천</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>밀양</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>산청</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>거제</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>남해</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </li>

                <li class="c-tabs-body__item">
                    <table class="c-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>지역</th>
                                <th>열화환경 위험도 지수</th>
                                <th>지역</th>
                                <th>열화환경 위험도 지수</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>속초</td>
                            <td></td>
                            <td>인제</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>철원</td>
                            <td></td>
                            <td>동두천</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>문산/파주</td>
                            <td></td>
                            <td>대관령</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>춘천</td>
                            <td></td>
                            <td>백령도</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>북강릉</td>
                            <td></td>
                            <td>강릉</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>동해</td>
                            <td></td>
                            <td>서울</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>인천</td>
                            <td></td>
                            <td>원주</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>울릉도</td>
                            <td></td>
                            <td>수원</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영월</td>
                            <td></td>
                            <td>충주</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>서산</td>
                            <td></td>
                            <td>울진</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>청주</td>
                            <td></td>
                            <td>대전</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>추풍령</td>
                            <td></td>
                            <td>안동</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>상주</td>
                            <td></td>
                            <td>포항</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>군산</td>
                            <td></td>
                            <td>대구</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>전주</td>
                            <td></td>
                            <td>울산</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>창원</td>
                            <td></td>
                            <td>광주</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>부산</td>
                            <td></td>
                            <td>통영</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>목포</td>
                            <td></td>
                            <td>여수</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>흑산도</td>
                            <td></td>
                            <td>완도</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고창</td>
                            <td></td>
                            <td>순천</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>진도</td>
                            <td></td>
                            <td>제주</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고산</td>
                            <td></td>
                            <td>성산</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>서귀포</td>
                            <td></td>
                            <td>진주</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>강화</td>
                            <td></td>
                            <td>양평</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이천</td>
                            <td></td>
                            <td>인제</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>홍천</td>
                            <td></td>
                            <td>태백</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>정선군</td>
                            <td></td>
                            <td>제천</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보은</td>
                            <td></td>
                            <td>천안</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보령</td>
                            <td></td>
                            <td>부여</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>금산</td>
                            <td></td>
                            <td>부안</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>임실</td>
                            <td></td>
                            <td>정읍</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>남원</td>
                            <td></td>
                            <td>장수</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고창군</td>
                            <td></td>
                            <td>영광군</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>김해시</td>
                            <td></td>
                            <td>순창군</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>북창원</td>
                            <td></td>
                            <td>양산시</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>보성군</td>
                            <td></td>
                            <td>강진군</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>장흥</td>
                            <td></td>
                            <td>해남</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>고흥</td>
                            <td></td>
                            <td>의령군</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>함양군</td>
                            <td></td>
                            <td>광양시</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>진도군</td>
                            <td></td>
                            <td>봉화</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영주</td>
                            <td></td>
                            <td>문경</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>청송군</td>
                            <td></td>
                            <td>영덕</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>의성</td>
                            <td></td>
                            <td>구미</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>영천</td>
                            <td></td>
                            <td>경주시</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>거창</td>
                            <td></td>
                            <td>합천</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>밀양</td>
                            <td></td>
                            <td>산청</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>거제</td>
                            <td></td>
                            <td>남해</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </li>

                <li class="c-tabs-body__item">
                    <div class="c-flex">
                        <div class="c-flex__box">
                            <div class="c-flex__box-inner">
                                <table class="c-table">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>지역</th>
                                            <th>지역계수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="9">동해안</th>
                                            <td>고성</td>
                                            <td>4.3</td>
                                        </tr>
                                        <tr>
                                            <td>속초</td>
                                            <td>2.4</td>
                                        </tr>
                                        <tr>
                                            <td>주문진</td>
                                            <td>7.7</td>
                                        </tr>
                                        <tr>
                                            <td>삼척</td>
                                            <td>6.7</td>
                                        </tr>
                                        <tr>
                                            <td>울진</td>
                                            <td>5.1</td>
                                        </tr>
                                        <tr>
                                            <td>영덕</td>
                                            <td>3.0</td>
                                        </tr>
                                        <tr>
                                            <td>포항</td>
                                            <td>6.2</td>
                                        </tr>
                                        <tr>
                                            <td>울산</td>
                                            <td>7.6</td>
                                        </tr>
                                        <tr>
                                            <td>부산</td>
                                            <td>2.2</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="10">서해안</th>
                                            <td>강화</td>
                                            <td>0.9</td>
                                        </tr>
                                        <tr>
                                            <td>인천</td>
                                            <td>1.1</td>
                                        </tr>
                                        <tr>
                                            <td>아산만</td>
                                            <td>1.0</td>
                                        </tr>
                                        <tr>
                                            <td>태안</td>
                                            <td>16.0</td>
                                        </tr>
                                        <tr>
                                            <td>천수만</td>
                                            <td>0.9</td>
                                        </tr>
                                        <tr>
                                            <td>보령</td>
                                            <td>4.7</td>
                                        </tr>
                                        <tr>
                                            <td>변산</td>
                                            <td>2.2</td>
                                        </tr>
                                        <tr>
                                            <td>고창</td>
                                            <td>11.4</td>
                                        </tr>
                                        <tr>
                                            <td>함평</td>
                                            <td>4.2</td>
                                        </tr>
                                        <tr>
                                            <td>목포</td>
                                            <td>1.0</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="8">남해안</th>
                                            <td>해남</td>
                                            <td>2.0</td>
                                        </tr>
                                        <tr>
                                            <td>장흥</td>
                                            <td>1.2</td>
                                        </tr>
                                        <tr>
                                            <td>고흥</td>
                                            <td>0.7</td>
                                        </tr>
                                        <tr>
                                            <td>광양</td>
                                            <td>1.2</td>
                                        </tr>
                                        <tr>
                                            <td>사천</td>
                                            <td>1.6</td>
                                        </tr>
                                        <tr>
                                            <td>거제</td>
                                            <td>3.5</td>
                                        </tr>
                                        <tr>
                                            <td>마산</td>
                                            <td>1.1</td>
                                        </tr>
                                        <tr>
                                            <td>진해</td>
                                            <td>0.9</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="c-table-caption c-table-caption--right">단위 : NaCl mg/100㎠/day</div>
                            </div>
                        </div>

                        <div class="c-flex__box">
                            <div class="c-flex__box-inner">
                                <table class="c-table">
                                    <colgroup>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>권역</th>
                                            <th>재설염분 지역계수(mdd)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>강원권</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>경기권</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>중부권</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>남부권</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>제주권</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <div class="l-popup open">
        <div class="l-popup__container">
            <div class="l-popup__content" style="text-align: center; line-height: 1.6;">
                <p>해당 서비스는 추후 개발될 서비스의 샘플페이지입니다.</p>
                <p>실제 동작하지는 않으며 추후 개발될 서비스의 예상페이지 입니다.</p>
            </div>
            <div class="l-popup__function">
                <ul class="l-popup__function-list">
                    <li class="l-popup__function-item"><button id="close" class="c-button c-button--point">닫기</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>
