<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>test</title>
		
		<script src="/assets/js/jquery.min.js"></script>
		
		<link rel="stylesheet" href="/assets/js/openlayers/openlayers.e31bb0bc.css">
		
		<style>
			#map {
	            width: 620px;
	            height: 700px;
	        }
		</style>
	</head>
	<body>
		<div class="map" id="map"></div>
		
		
		<script src="/assets/js/openlayers/openlayers.e31bb0bc.js"></script>
	</body>
</html>