<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/openlayers/ol.css">
	<style>
		
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/proj4js/proj4js-combined.min.js"></script>
	<script src="/assets/js/openlayers/ol.js"></script>
	<script src="/assets/js/min_js_dir/newdeal/env/saltpermeate.js"></script>
 	<script>


	</script>
</th:block>

<div layout:fragment="content" class="content">
	<input type="hidden" id="backend_url" th:value="${backend_url}" readonly="readonly" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" readonly="readonly" />
	<h2 class="content__heading">열화환경별 염화물 침투</h2>
	<div class="c-flex">
		<div class="c-flex__box">
			<section class="section non-padding" style="height: 822px;">
				<div class="section__head">
					<h3 class="section__heading">정보 입력</h3>
				</div>
				<div class="section__content">
					<div class="salt__input">
						<div class="talk__header talk__header--margin">
							<h3>교량 정보</h3>
						</div>
						<ul class="talk__list">
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">교량</div>
									<div class="talk__input">
										<div class="c-search">
											<input type="text" class="c-search__input" id="bridgeName">
											<button class="c-search__button" id="searchBridge">검색</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">콘크리트 균열폭</div>
									<div class="talk__input">
										<div class="c-select">
											<select class="c-select__input">
												<option value="">0mm</option>
												<option value="">0.1mm</option>
												<option value="">0.3mm</option>
											</select>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">피복 깊이</div>
									<div class="talk__input">
										<div class="c-text c-text--unit">
											<input type="number" class="c-text__input" placeholder="50mm 이하로만 입력" />
											<span class="c-text__unit">mm</span>
										</div>
										<div class="talk__input-comment">
											<p>※ 제설제에 직접 노출되는 부제의 피복깊이.</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">공용년수</div>
									<div class="talk__input">
										<div class="c-text c-text--unit">
											<input type="number" class="c-text__input" placeholder="30년 이하로만 입력" />
											<span class="c-text__unit">년</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="talk__header talk__header--margin">
							<h3>환경조건 정보</h3>
						</div>
						<ul class="talk__list">
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">동결융해</div>
									<div class="talk__input">
										<div class="c-text">
											<input type="text" class="c-text__input" id="stFreeze" style="text-align: right;" readonly />
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="talk__input-item">
									<div class="talk__input-heading">제설제</div>
									<div class="talk__input">
										<div class="c-text">
											<input type="text" class="c-text__input" id="stSnow" style="text-align: right;" readonly />
										</div>
									</div>
								</div>
							</li>
<!--							<li>-->
<!--								<div class="talk__input-item">-->
<!--									<div class="talk__input-heading">비래염분</div>-->
<!--									<div class="talk__input">-->
<!--										<div class="c-text">-->
<!--											<input type="number" class="c-text__input" id="stSalt" readonly />-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</li>-->
						</ul>
						<div class="talk__console">
							<ul>
								<li>
									<a href="#salt1" class="c-button c-button--point">계산하기</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="c-flex__box" style="margin-left: 20px;">
			<section class="section">
				<article class="article">
					<div id="map" style="height: 800px;"></div>
				</article>
			</section>
		</div>

		<div class="c-flex__box" style="margin-left: 20px;">
			<section class="section" style="height: 822px;">chart영역</section>
		</div>
	</div>

	<div class="l-popup" id="popSelectBridge">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">교량 선택</h3>
			</div>
			<div class="l-popup__content">
				<div class="l-popup__section">
					<div id="grid_main" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
			<div class="l-popup__function">
				<ul class="l-popup__function-list">
					<li class="l-popup__function-item">
						<div class="c-button c-button--point popclose">닫기</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="l-popup open">
		<div class="l-popup__container">
			<div class="l-popup__content" style="text-align: center; line-height: 1.6;">
				<p>해당 서비스는 추후 개발될 서비스의 샘플페이지입니다.</p>
				<p>실제 동작하지는 않으며 추후 개발될 서비스의 예상페이지 입니다.</p>
			</div>
			<div class="l-popup__function">
				<ul class="l-popup__function-list">
					<li class="l-popup__function-item"><button class="c-button c-button--point popclose">닫기</button></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
</html>
