<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/openlayers/ol.css">
	<style>

	</style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/openlayers/ol.js"></script>
	<script src="/assets/js/min_js_dir/newdeal/env/salt.js"></script>
	<script>
		function initialOL() {
			window.GeoJSON = ol.format.GeoJSON;
			window.VectorSource =ol.source.Vector;
			window.VectorLayer = ol.layer.Vector;
			window.Tile = ol.layer.Tile;
			window.View = ol.View;
			window.Style = ol.style.Style;
			window.Fill = ol.style.Fill;
			window.Stroke = ol.style.Stroke;
			window.Polygon = ol.geom.Polygon;
			window.Feature = ol.Feature;
			window.OSM = ol.source.OSM;
			window.Map = ol.Map;
		}
		let sig = null;
		$(function(){
			initialOL();
			// console.log(GeoJSON);
			$("#header_five").addClass(' show');
			logreg(1,"열화환경 서비스","대기중 염분량 추정 서비스",null);
			$.ajax({
				'async': false,
				'global': false,
				'url': "/assets/js/openlayers/geoJson/TL_SCCO_SIG.json",
				'dataType': "json",
				'success': function (data) {
					sig = data;
				}
			});
			// console.log(sig);
			let selectGeoJson = {
				bbox: [124.7893154389517,33.17261058239259,130.96325546758288,38.54261253850525],
				features: [],
				type: "FeatureCollection",
			}
			// let selectGeoJson = {
			// 	features: [],
			// }
			for(const obj of sig.features) {
				const sigCd = obj.properties.SIG_CD;
				// console.log(obj.properties.SIG_CD);
				if(sigCd == 28710) {
					selectGeoJson.features.push(obj);
					// selectGeoJson.push(obj.geometry);
					console.log(obj);
				}
			}
			console.log(selectGeoJson);
			// style
			const airStyle = {
				fill: new Fill({
					color: 'rgba(255, 0, 0, 0.4)',
				}),
				stroke: new Stroke({
					color: 'rgba(255, 0, 0, 0.8)',
					width: 2
				})
			}
			// style 여러개
			// 벡터소스도 여러개 분리
			// clear 되는지 여부 판단
			const airSource = new VectorSource({
				// format: new GeoJSON(),
				// url: "/assets/js/openlayers/geoJson/TL_SCCO_SIG.json",
				features: new GeoJSON().readFeatures(selectGeoJson),
			});
			// console.log(vectorSource)
			const airLayer = new VectorLayer({
				source: airSource,
				style: new Style(airStyle),
			});
			const map = new Map({
				target: 'map',
				layers: [
					new Tile({
						source: new OSM()
					}),
					airLayer
				],
				view: new View({
					center: [128.01270, 36],
					zoom: 6.8,
					projection: "EPSG:4326"
				})
			});
			airSource.clear(false);
			airSource.addFeature(new Feature(new Polygon(selectGeoJson.features[0].geometry.coordinates)));
		})
	</script>
</th:block>
<div layout:fragment="content" class="content">
	<input type="hidden" id="backend_url" th:value="${backend_url}" readonly="readonly" />
	<input type="hidden" id="backend_protocol" th:value="${backend_protocol}" readonly="readonly" />
	<input type="hidden" id="accountRole" readonly="readonly" />
	<h2 class="content__heading">대기중 염분량 추정 서비스</h2>
	<div class="c-flex">
		<div class="c-flex__box">
			<section class="section non-padding">
				<div class="section__head">
					<h3 class="section__heading">해안가 대기중 비래염분 추정</h3>
				</div>
				<div class="section__content">
					<div class="salt salt--split">
						<div class="salt__input">
							<ul class="talk__list">
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">해역</div>
										<div class="talk__input">
											<div class="c-select">
												<select id="seaCheck" onchange="seaCheckChange(1);" class="c-select__input">
													<option value="1">동해안</option>
													<option value="2">서해안</option>
													<option value="3">남해안</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">지역</div>
										<div class="talk__input">
											<div class="c-select">
												<select id="seaArea" class="c-select__input">
													<option value="4.3_11">고성</option>
													<option value="2.4_11">속초</option>
													<option value="7.7_11">주문진</option>
													<option value="6.7_11">삼척</option>
													<option value="5.1_12">울진</option>
													<option value="3.0_12">영덕</option>
													<option value="6.2_12">포항</option>
													<option value="7.6_12">울산</option>
													<option value="2.2_12">부산</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">해안거리(m)</div>
										<div class="talk__input">
											<div class="c-text"><input type="text" class="c-text__input" id="seaDistance" onkeypress="return isNumberKey(event,1)" onkeyup="return delHangle(event)" value="250" /></div>
										</div>
									</div>
								</li>
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">해수면으로부터 높이(m)</div>
										<div class="talk__input">
											<div class="c-text"><input type="text" class="c-text__input" id="seaHeight" onkeypress="return isNumberKey(event,1)" onkeyup="return delHangle(event)" value="1" /></div>
										</div>
									</div>
								</li>
							</ul>
							<div class="talk__console">
								<ul>
									<li>
										<a onclick="seaAir()" class="c-button c-button--point">계산하기</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="salt__output">
							<h3 class="salt__title">추정 비래염분량</h3>
							<div class="salt__count">
								<span id="seaAirResult">0</span>
								<span class="salt__unit">mdd</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section non-padding">
				<div class="section__head">
					<h3 class="section__heading">제설제 비산염 추정</h3>
				</div>
				<div class="section__content">
					<div class="salt salt--split">
						<div class="salt__input">
							<ul class="talk__list">
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">지역</div>
										<div class="talk__input">
											<div class="c-select">
												<select class="c-select__input">
													<option>태안</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">도로와의 이격거리(m)</div>
										<div class="talk__input">
											<div class="c-text"><input type="text" class="c-text__input" value="250" /></div>
										</div>
									</div>
								</li>
								<li>
									<div class="talk__input-item">
										<div class="talk__input-heading">도로기준 방향</div>
										<div class="talk__input">
											<div class="c-select">
												<select class="c-select__input">
													<option>동</option>
												</select>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="talk__console">
								<ul>
									<li>
										<a href="#salt2" class="c-button c-button--point">계산하기</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="salt__output">
							<h3 class="salt__title">추정 비산염</h3>
							<div class="salt__count">
								<span id="seaAirResult2">0</span>
								<span class="salt__unit">mdd</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section non-padding">
				<div class="section__head">
					<h3 class="section__heading">해상교량 대기중 비래염분 추정</h3>
				</div>
				<div class="section__content">
					<ul class="c-tabs c-tabs--split">
						<li class="c-tabs__item active">
							<button class="c-tabs__btn">지역</button>
						</li>
						<li class="c-tabs__item">
							<button class="c-tabs__btn">교량</button>
						</li>
					</ul>
					<ul class="c-tabs-body">
						<li class="c-tabs-body__item active">
							<div class="salt salt--split">
								<div class="salt__input">
									<ul class="talk__list">
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">해역</div>
												<div class="talk__input">
													<div class="c-select">
														<select id="locationSeaCheck" onchange="seaCheckChange(2);" class="c-select__input">
															<option value="1">동해안</option>
															<option value="2">서해안</option>
															<option value="3">남해안</option>
														</select>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">지역</div>
												<div class="talk__input">
													<div class="c-select">
														<select id="locationSeaArea" class="c-select__input">
															<option value ="1" >속초</option>
															<option value ="1">영덕</option>
															<option value ="1">부산</option>
															<option value ="2">고성</option>
															<option value ="2">주문진</option>
															<option value ="2">삼척</option>
															<option value ="2">울진</option>
															<option value ="2">포항</option>
															<option value ="2">울산</option>
														</select>
													</div>
												</div>
											</div>
										</li>
										<!-- 관리자모드 -->
										<li id="locationHeight1" style="display: none">
											<div class="talk__input-item">
												<div class="talk__input-heading">추정식 구분용 높이1(m)</div>
												<div class="talk__input">
													<div class="c-text">
														<input type="text" id="locationCalculationHeight1" class="c-text__input" value="3" />
													</div>
												</div>
											</div>
										</li>
										<li id="locationHeight2" style="display: none">
											<div class="talk__input-item">
												<div class="talk__input-heading">추정식 구분용 높이2(m)</div>
												<div class="talk__input">
													<div class="c-text">
														<input type="text" id="locationCalculationHeight2" class="c-text__input" value="5" />
													</div>
												</div>
											</div>
										</li>
										<!-- /관리자모드 종료 -->
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">해수면으로부터 높이(m)</div>
												<div class="talk__input">
													<div class="c-text"><input type="text" id="locationHeight" class="c-text__input" value="10" /></div>
												</div>
											</div>
										</li>
									</ul>
									<div class="talk__console">
										<ul>
											<li>
												<a onclick="locationSea()" class="c-button c-button--point">계산하기</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="salt__output">
									<h3 class="salt__title">추정 비래염분량</h3>
									<div class="salt__count">
										<span id="seaAirResult3">0</span>
										<span class="salt__unit">mdd</span>
									</div>
									<div class="salt__comment">본 시스템에서 추정된 비래염분량은 교량의 차도 높이까지 최적화되어 있음</div>
								</div>
							</div>
						</li>
						<li class="c-tabs-body__item">
							<div class="salt salt--split">
								<div class="salt__input">
									<ul class="talk__list">
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">해역</div>
												<div class="talk__input">
													<div class="c-select">
														<select id="bridgeSeaCheck" onchange="seaCheckChange(3);" class="c-select__input">
															<option value="1">남해안</option>
															<option value="2">서해안</option>
														</select>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">교량</div>
												<div class="talk__input">
													<div class="c-select">
														<select id="bridgeSeaArea" class="c-select__input">
															<option value ="1">거북선대교</option>
															<option value ="1">돌산대교</option>
															<option value ="2">노량대교</option>
															<option value ="3">거금대교</option>
															<option value ="3">소록대교</option>
														</select>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="talk__input-item">
												<div class="talk__input-heading">해수면으로부터 높이(m)</div>
												<div class="talk__input">
													<div class="c-text">
														<input type="text" id="bridgeHeight" class="c-text__input" value="100" />
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="talk__console">
										<ul>
											<li>
												<a onclick="bridgeSea()" class="c-button c-button--point">계산하기</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="salt__output">
									<h3 class="salt__title">추정 비래염분량</h3>
									<div class="salt__count">
										<span id="seaAirResult4">0</span>
										<span class="salt__unit">mdd</span>
									</div>
									<div class="salt__comment">본 시스템에서 추정된 비래염분량은 교량의 차도 높이까지 최적화되어 있음</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="c-flex__box" style="margin-left: 20px;">
			<div class="salt-map" id="map" style="width: 100%; height: 836px; border: 1px solid #333;"></div>
		</div>
	</div>
	<div class="l-popup">
		<div class="l-popup__container">
			<div class="l-popup__content" style="text-align: center; line-height: 1.6;">
				<p>해당 서비스는 추후 개발될 서비스의 샘플페이지입니다.</p>
				<p>실제 동작하지는 않으며 추후 개발될 서비스의 예상페이지 입니다.</p>
			</div>
			<div class="l-popup__function">
				<ul class="l-popup__function-list">
					<li class="l-popup__function-item"><button id="close" class="c-button c-button--point">닫기</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</html>
