<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default2">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
 	<script>
		$(function() {
			
		});

	</script>
</th:block>

<div layout:fragment="content" class="content">
	<div class="content__inner">
		<h2 class="content__heading">내하성능 추정 서비스</h2>
		<div class="select">
			<div class="select__item"><a href="/resistance/input" class="select__link"><img src="/assets/images/icon__edit.svg" alt="" /><span>교량 정보 입력</span></a></div>
			<div class="select__item"><a href="/resistance/select" class="select__link"><img src="/assets/images/icon__fact-check.svg" alt="" /><span>내하성능 분석 교량 선택</span></a></div>
		</div>
	</div>
	
</div>
</html>
